@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
::-webkit-input-placeholder {
  color: #8c8c8c; }

::-moz-placeholder {
  color: #8c8c8c; }

:-ms-input-placeholder {
  color: #8c8c8c; }

:-moz-placeholder {
  color: #8c8c8c; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

a,
button {
  cursor: pointer; }

.noScroll {
  overflow: hidden !important; }

.errorcm {
  border: 1px solid #ec5d57 !important; }

.loading {
  background: #404040 !important;
  color: #ffffff !important; }

.active {
  color: #ed1847 !important; }

.p1 {
  animation-name: fade;
  -webkit-animation-name: fade;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-delay: 0s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

.p2 {
  animation-name: fade;
  -webkit-animation-name: fade;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-delay: 0.1s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

.p3 {
  animation-name: fade;
  -webkit-animation-name: fade;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@keyframes fade {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.p1,
.p2,
.p3 {
  margin: 0 3px; }

.alert {
  width: 100%; }
  .alert li {
    width: 100%;
    text-align: right;
    font: 500 15px "Hind", sans-serif;
    color: #ed1847;
    float: left;
    margin: 10px 0 0 !important;
    border-bottom: 0 !important; }

#nome-error {
  text-align: left;
  font: 500 13px "Hind", sans-serif;
  color: red;
  float: left;
  margin: 15px 0 0 15px; }

header {
  width: 100%;
  min-height: 110px;
  position: fixed;
  z-index: 90;
  border-bottom: 1px solid #ddd;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; }
  header .acessibilidade {
    width: 100%;
    height: 35px;
    background: #eee;
    overflow: hidden; }
    header .acessibilidade .wrap {
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: center;
      position: relative; }
    header .acessibilidade a {
      font: 400 11px/40px "Calibri", "Open Sans", sans-serif;
      color: #8c8c8c;
      margin: 0 20px;
      transition-duration: 0.5s; }
    header .acessibilidade a:focus,
    header .acessibilidade a:hover {
      outline: none;
      color: #ed1847; }
    header .acessibilidade .linkAcessibilidade {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%); }
  header .hideAcessibilidade {
    height: 0 !important; }
  header .wrap {
    width: 980px;
    height: 110px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center; }
    header .wrap .logo {
      width: 200px;
      display: block; }
    header .wrap nav {
      width: 60%;
      height: 40px; }
      header .wrap nav ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center; }
        header .wrap nav ul li {
          width: auto;
          height: 100%;
          margin: 0 10px; }
          header .wrap nav ul li a {
            width: 100%;
            height: 100%;
            float: left;
            font: 400 15px/40px "Calibri", "Open Sans", sans-serif;
            color: #ed1847;
            text-align: center;
            text-transform: uppercase;
            transition-duration: 0.5s; }
          header .wrap nav ul li a:hover {
            color: #ed1847; }

.banner,
.banner.servicos {
  width: 100%;
  min-height: 35vw;
  float: left;
  margin-top: 110px;
  position: relative; }
  .banner .sliderBanner,
  .banner.servicos .sliderBanner {
    width: 100%;
    height: 35vw;
    overflow: hidden;
    position: relative;
    float: left;
    opacity: 0;
    transition-duration: 0.8s; }
    .banner .sliderBanner .slide,
    .banner.servicos .sliderBanner .slide {
      width: 100%;
      height: 170px;
      float: left;
      padding: 0;
      margin: 0;
      outline: none;
      position: relative; }
      .banner .sliderBanner .slide .mask,
      .banner.servicos .sliderBanner .slide .mask {
        width: 100%;
        height: 50vw;
        position: absolute;
        z-index: 20;
        top: 0;
        background: rgba(0, 0, 0, 0.2); }
      .banner .sliderBanner .slide .imagemBanner,
      .banner.servicos .sliderBanner .slide .imagemBanner {
        width: 100%;
        height: 50vw;
        position: absolute;
        top: 0;
        z-index: 10; }
    .banner .sliderBanner .slick-next.slick-arrow,
    .banner .sliderBanner .slick-prev.slick-arrow,
    .banner.servicos .sliderBanner .slick-next.slick-arrow,
    .banner.servicos .sliderBanner .slick-prev.slick-arrow {
      width: 27px;
      height: 55px;
      border: 0;
      outline: none;
      position: absolute;
      z-index: 80;
      color: transparent;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      background: url("../images/arrow-especialidade.svg") center no-repeat;
      background-size: 100%; }
    .banner .sliderBanner .slick-prev.slick-arrow,
    .banner.servicos .sliderBanner .slick-prev.slick-arrow {
      right: auto;
      left: 5%;
      transform: translateY(-50%) rotate(180deg); }
  .banner .opacity,
  .banner.servicos .opacity {
    opacity: 1; }
  .banner .wrap,
  .banner.servicos .wrap {
    width: 100%;
    min-height: 750px;
    position: absolute;
    z-index: 30;
    right: 0; }

.imagem-home-1 {
  background: url("../images/banner-home-1-desk.jpg") center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -380px;
  background-position-x: 0; }

.imagem-home-2 {
  background: url("../images/banner-home-2-desk.jpg") center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -380px;
  background-position-x: 0; }

.imagem-home-3 {
  background: url("../images/ban-home-infografico-maos-3-desk.png") center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -380px;
  background-position-x: 0; }

.imagem-home-4 {
  background: url("../images/banner-home-covid-19.jpg") center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -380px;
  background-position-x: 0; }

.imagem-home-6 {
  background: url("../images/banner-home-resultados.jpg") center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -380px;
  background-position-x: 0; }

.banner.servicos {
  width: 100%;
  min-height: auto;
  height: 60vh;
  overflow: hidden;
  position: relative; }
  .banner.servicos img {
    width: 100vw;
    float: left; }

.chamadaBanner,
.chamadaBanner.estrutura {
  width: 680px;
  height: 180px;
  position: absolute;
  bottom: 30%;
  right: 0;
  transition-duration: 0.5s;
  z-index: 30;
  background: url(../images/path.svg) no-repeat 5px 5px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .chamadaBanner a,
  .chamadaBanner.estrutura a {
    color: white;
    font: 600 27px/1.3 "Calibri", "Open Sans", sans-serif;
    text-transform: uppercase;
    margin-left: 12%;
    transition-duration: 0.5s;
    /*.link {
			background: #213f99;
			display: block;
			color: #fff;
			font: 600 15px/40px "Hind", sans-serif;
			padding: 0px 21px;
		}*/ }
    .chamadaBanner a:hover,
    .chamadaBanner.estrutura a:hover {
      color: rgba(255, 255, 255, 0.7); }
    .chamadaBanner a .link,
    .chamadaBanner.estrutura a .link {
      width: 33%;
      font: 400 25px "Calibri", "Open Sans", sans-serif;
      color: #fff;
      float: left;
      margin: 10px 0 0 12%;
      text-transform: uppercase;
      background: url("../images/arrow-green.svg") right 30% no-repeat;
      background-size: 15%;
      transition-duration: 0.5s; }
    .chamadaBanner a .link.c2a,
    .chamadaBanner.estrutura a .link.c2a {
      width: 75%;
      background-size: 7%; }
  .chamadaBanner .titulo,
  .chamadaBanner.estrutura .titulo {
    font: 400 27px/37px "Calibri", "Open Sans", sans-serif;
    color: #fff;
    margin: 20px 12% 5px;
    transition-duration: 0.5s;
    display: inline-block;
    width: 70%; }

.chamadaBanner.estrutura {
  right: auto;
  left: 0; }
  .chamadaBanner.estrutura .titulo {
    width: 90%;
    font: 400 20px "Calibri", "Open Sans", sans-serif;
    color: #707070;
    float: left;
    margin: 30px 5% 0;
    transition-duration: 0.5s; }
  .chamadaBanner.estrutura .texto {
    width: 90%;
    font: 400 25px/30px "Calibri", "Open Sans", sans-serif;
    color: #707070;
    float: left;
    margin: 10px 0 0 5%;
    text-transform: uppercase;
    line-height: 25px; }

.hospital.servicos .wrap {
  max-width: 1170px;
  z-index: 40;
  position: relative;
  height: auto;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  margin-top: 100px; }
  .hospital.servicos .wrap-md {
    max-width: 970px; }

.hospital.destaque-home .wrap .sobreHospital h1 {
  font-size: 22px; }

.hospital,
.hospital.estrutura {
  width: 100%;
  height: 450px;
  float: left;
  position: relative;
  z-index: 30; }
  .hospital #mapa,
  .hospital.estrutura #mapa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; }
  .hospital .sliderEstrutura,
  .hospital.estrutura .sliderEstrutura {
    width: 50.5vw;
    height: 60vh;
    overflow: hidden;
    position: relative;
    position: absolute;
    left: 0;
    top: 7vh;
    z-index: 50; }
    .hospital .sliderEstrutura .slide,
    .hospital.estrutura .sliderEstrutura .slide {
      width: 100%;
      height: 60vh;
      float: left;
      padding: 0;
      margin: 0;
      outline: none;
      position: relative; }
      .hospital .sliderEstrutura .slide .mask,
      .hospital.estrutura .sliderEstrutura .slide .mask {
        width: 100%;
        height: 50vw;
        position: absolute;
        z-index: 20;
        top: 0;
        background: rgba(0, 0, 0, 0.2); }
      .hospital .sliderEstrutura .slide img,
      .hospital.estrutura .sliderEstrutura .slide img {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10; }
      .hospital .sliderEstrutura .slide .imagem-home-1,
      .hospital.estrutura .sliderEstrutura .slide .imagem-home-1 {
        background: url("../images/banner-estrutura-desk.jpg") center;
        background-size: 100%; }
      .hospital .sliderEstrutura .slide .imagem-home-2,
      .hospital.estrutura .sliderEstrutura .slide .imagem-home-2 {
        background: url("../images/banner-estrutura-desk.jpg") center;
        background-size: 100%; }
      .hospital .sliderEstrutura .slide .imagem-home-3,
      .hospital.estrutura .sliderEstrutura .slide .imagem-home-3 {
        background: url("../images/banner-estrutura-desk.jpg") center;
        background-size: 100%; }
    .hospital .sliderEstrutura .slick-next.slick-arrow,
    .hospital .sliderEstrutura .slick-prev.slick-arrow,
    .hospital.estrutura .sliderEstrutura .slick-next.slick-arrow,
    .hospital.estrutura .sliderEstrutura .slick-prev.slick-arrow {
      width: 27px;
      height: 55px;
      border: 0;
      outline: none;
      position: absolute;
      z-index: 50;
      color: transparent;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      background: url("../images/arrow-especialidade.svg") center no-repeat;
      background-size: 100%; }
    .hospital .sliderEstrutura .slick-prev.slick-arrow,
    .hospital.estrutura .sliderEstrutura .slick-prev.slick-arrow {
      right: auto;
      left: 5%;
      transform: translateY(-50%) rotate(180deg); }
  .hospital .wrap,
  .hospital.estrutura .wrap {
    max-width: 100%;
    height: 450px;
    margin: 0 auto;
    z-index: 40;
    position: relative; }
    .hospital .wrap .sobreHospital,
    .hospital .wrap .sobreHospital.estrutura,
    .hospital.estrutura .wrap .sobreHospital,
    .hospital.estrutura .wrap .sobreHospital.estrutura {
      width: 550px;
      height: 100%;
      position: absolute;
      left: 0;
      background: #ed1847;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center; }
      .hospital .wrap .sobreHospital h1,
      .hospital .wrap .sobreHospital.estrutura h1,
      .hospital.estrutura .wrap .sobreHospital h1,
      .hospital.estrutura .wrap .sobreHospital.estrutura h1 {
        width: 80%;
        font: 700 20px "Calibri", "Open Sans", sans-serif;
        color: white;
        text-transform: uppercase;
        margin-bottom: 20px; }
      .hospital .wrap .sobreHospital p,
      .hospital .wrap .sobreHospital.estrutura p,
      .hospital.estrutura .wrap .sobreHospital p,
      .hospital.estrutura .wrap .sobreHospital.estrutura p {
        width: 80%;
        font: 400 20px "Calibri", "Open Sans", sans-serif;
        color: white;
        line-height: 35px; }
      .hospital .wrap .sobreHospital ul,
      .hospital .wrap .sobreHospital.estrutura ul,
      .hospital.estrutura .wrap .sobreHospital ul,
      .hospital.estrutura .wrap .sobreHospital.estrutura ul {
        width: 80%; }
    .hospital .wrap .sobreHospital.estrutura,
    .hospital.estrutura .wrap .sobreHospital.estrutura {
      width: 480px;
      height: 1025px;
      left: auto;
      right: 0;
      background: #ed1847; }
      .hospital .wrap .sobreHospital.estrutura p,
      .hospital.estrutura .wrap .sobreHospital.estrutura p {
        margin-bottom: 5px; }
    .hospital .wrap .localizacao,
    .hospital.estrutura .wrap .localizacao {
      width: 460px;
      height: 100px;
      position: absolute;
      right: 0;
      top: 40%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      background: url(../images/path.svg) no-repeat 5px 5px; }
      .hospital .wrap .localizacao .titulo,
      .hospital.estrutura .wrap .localizacao .titulo {
        margin-left: 10px;
        width: 80%;
        font: 400 16px "Calibri", "Open Sans", sans-serif;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 5px; }
      .hospital .wrap .localizacao .endereco,
      .hospital.estrutura .wrap .localizacao .endereco {
        margin-left: 10px;
        width: 80%;
        font: 400 16px "Calibri", "Open Sans", sans-serif;
        color: white;
        line-height: 15px;
        margin-bottom: 2px; }
      .hospital .wrap .localizacao .tracarRota,
      .hospital.estrutura .wrap .localizacao .tracarRota {
        margin-left: 50px;
        margin-bottom: 5px;
        align-self: flex-start;
        font: 700 16px "Calibri", "Open Sans", sans-serif;
        color: #fff;
        margin-top: 2px;
        line-height: 15px;
        text-transform: uppercase; }
      .hospital .wrap .localizacao .tracarRota:hover,
      .hospital.estrutura .wrap .localizacao .tracarRota:hover {
        color: rgba(255, 255, 255, 0.7); }

.hospital.estrutura {
  min-height: 1080px;
  background: #e6e6e6; }

.hospital.servicos {
  height: auto;
  padding: 30px 0;
  left: auto;
  right: 0; }
  .hospital.servicos .container {
    width: 480px;
    float: right;
    margin-top: -20%;
    position: relative; }
    .hospital.servicos .container .sobreHospital.servicos {
      width: 480px;
      height: auto;
      padding: 30px 0;
      float: left;
      position: relative;
      background: #ed1847;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); }
      .hospital.servicos .container .sobreHospital.servicos h1 {
        width: 80%;
        font: 400 20px "Calibri", "Open Sans", sans-serif;
        color: white; }
      .hospital.servicos .container .sobreHospital.servicos .titulo {
        width: 80%;
        font: 400 20px "Calibri", "Open Sans", sans-serif;
        margin-top: 20px; }
      .hospital.servicos .container .sobreHospital.servicos p {
        width: 80%;
        font: 400 20px "Calibri", "Open Sans", sans-serif;
        color: white;
        margin-top: 10px;
        line-height: 35px; }
  .hospital.servicos .imagemServico {
    flex: 0 1 50%;
    margin: 0 15px; }
    .hospital.servicos .imagemServico img {
      max-width: 100%; }
  .hospital.servicos .exames {
    width: auto;
    float: none;
    padding: 40px 0;
    margin: 0 15px;
    padding-right: 100px;
    flex: 1 1 50%; }
    .hospital.servicos .exames h2 {
      width: 100%;
      font: 400 35px "Calibri", "Open Sans", sans-serif;
      color: #ed1847;
      float: left;
      margin-bottom: 20px; }
    .hospital.servicos .exames ul {
      width: 100%;
      float: left;
      list-style: none; }
      .hospital.servicos .exames ul li {
        width: 100%;
        margin: 20px 0;
        float: left;
        border-bottom: 1px solid #8c8c8c; }
        .hospital.servicos .exames ul li .titulo {
          width: 100%;
          font: 400 20px "Calibri", "Open Sans", sans-serif;
          color: #ed1847; }
        .hospital.servicos .exames ul li .descricao {
          width: 100%;
          font: 400 15px "Calibri", "Open Sans", sans-serif;
          color: #8c8c8c;
          margin: 10px 0 20px; }
      .hospital.servicos .exames ul li:last-child {
        border-bottom: 0; }

.hospital.corpoClinico {
  height: auto;
  padding: 30px 0; }
  .hospital.corpoClinico .container {
    width: 60%;
    float: left;
    margin-top: -20%;
    position: relative; }
    .hospital.corpoClinico .container .sobreHospital.corpoClinico {
      width: 100%;
      height: auto;
      padding: 40px 0 60px;
      float: left;
      position: relative;
      background: #ed1847;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); }
      .hospital.corpoClinico .container .sobreHospital.corpoClinico h1 {
        width: 80%;
        font: 400 20px "Calibri", "Open Sans", sans-serif;
        color: white;
        margin-bottom: 20px; }
      .hospital.corpoClinico .container .sobreHospital.corpoClinico p {
        width: 80%;
        font: 400 20px "Calibri", "Open Sans", sans-serif;
        color: white;
        margin-top: 10px;
        line-height: 35px; }
      .hospital.corpoClinico .container .sobreHospital.corpoClinico form {
        width: 60%;
        position: absolute;
        bottom: -7%;
        left: 50%;
        transform: translateX(-50%); }
        .hospital.corpoClinico .container .sobreHospital.corpoClinico form select {
          width: 100%;
          height: 55px;
          padding: 0 0 0 10%;
          font: 400 12px "Calibri", "Open Sans", sans-serif;
          color: #707070;
          text-transform: uppercase;
          background: #e6e6e6 url("../images/icon-select.svg") 94% center no-repeat;
          background-size: 8%;
          border: 0;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          outline: none;
          border-radius: 0;
          -webkit-appearance: none; }
          .hospital.corpoClinico .container .sobreHospital.corpoClinico form select option {
            line-height: 55px; }
    .hospital.corpoClinico .container .imagemServico {
      width: 480px;
      height: 590px;
      float: left;
      position: relative;
      overflow: hidden;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }
      .hospital.corpoClinico .container .imagemServico img {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
  .hospital.corpoClinico .exames {
    width: 440px;
    float: left;
    padding: 40px 0; }
    .hospital.corpoClinico .exames h2 {
      width: 100%;
      font: 400 35px "Calibri", "Open Sans", sans-serif;
      color: #ed1847;
      float: left;
      margin-bottom: 20px; }
      .hospital.corpoClinico .exames h2:not(:first-child) {
        margin-top: 20px; }
    .hospital.corpoClinico .exames ul {
      width: 100%;
      float: left;
      list-style: none; }
      .hospital.corpoClinico .exames ul li {
        width: 100%;
        margin: 20px 0;
        float: left;
        border-bottom: 1px solid #8c8c8c; }
        .hospital.corpoClinico .exames ul li .titulo {
          width: 100%;
          font: 400 20px "Calibri", "Open Sans", sans-serif;
          color: #ed1847; }
        .hospital.corpoClinico .exames ul li .descricao {
          width: 100%;
          font: 400 15px "Calibri", "Open Sans", sans-serif;
          color: #8c8c8c;
          margin: 10px 0 20px; }
      .hospital.corpoClinico .exames ul li:last-child {
        border-bottom: 0; }
  .hospital.corpoClinico .exames.corpoClinico {
    width: 70%;
    float: right;
    margin-right: 12%; }

.hospital.areaMedica,
.hospital.contato {
  height: auto;
  min-height: auto;
  padding: 40px 0 120px; }
  .hospital.areaMedica .wrap,
  .hospital.contato .wrap {
    width: 1080px;
    height: auto; }
  .hospital.areaMedica .container,
  .hospital.contato .container {
    width: 48%;
    float: left;
    margin-top: -20%;
    position: relative; }
    .hospital.areaMedica .container .sobreHospital.areaMedica,
    .hospital.areaMedica .container .sobreHospital.contato,
    .hospital.contato .container .sobreHospital.areaMedica,
    .hospital.contato .container .sobreHospital.contato {
      width: 100%;
      height: auto;
      padding: 40px 0 60px;
      float: left;
      position: relative;
      background: #ed1847;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); }
      .hospital.areaMedica .container .sobreHospital.areaMedica h1,
      .hospital.areaMedica .container .sobreHospital.areaMedica .titulo,
      .hospital.areaMedica .container .sobreHospital.contato h1,
      .hospital.areaMedica .container .sobreHospital.contato .titulo,
      .hospital.contato .container .sobreHospital.areaMedica h1,
      .hospital.contato .container .sobreHospital.areaMedica .titulo,
      .hospital.contato .container .sobreHospital.contato h1,
      .hospital.contato .container .sobreHospital.contato .titulo {
        width: 80%;
        font: 400 20px "Calibri", "Open Sans", sans-serif;
        color: white;
        margin-bottom: 20px; }
      .hospital.areaMedica .container .sobreHospital.areaMedica p,
      .hospital.areaMedica .container .sobreHospital.contato p,
      .hospital.contato .container .sobreHospital.areaMedica p,
      .hospital.contato .container .sobreHospital.contato p {
        width: 80%;
        font: 400 25px "Calibri", "Open Sans", sans-serif;
        color: white;
        margin-top: 5px;
        line-height: 35px; }
      .hospital.areaMedica .container .sobreHospital.areaMedica .link,
      .hospital.areaMedica .container .sobreHospital.contato .link,
      .hospital.contato .container .sobreHospital.areaMedica .link,
      .hospital.contato .container .sobreHospital.contato .link {
        width: 60%;
        height: 55px;
        padding: 0;
        font: 400 15px/55px "Calibri", "Open Sans", sans-serif;
        color: #707070;
        text-transform: uppercase;
        text-align: center;
        background: #e6e6e6;
        border: 0;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
        outline: none;
        position: absolute;
        bottom: -10%; }
  .hospital.areaMedica .exames,
  .hospital.contato .exames {
    width: 440px;
    float: left;
    padding: 40px 0; }
    .hospital.areaMedica .exames h2,
    .hospital.contato .exames h2 {
      width: 100%;
      font: 400 35px "Calibri", "Open Sans", sans-serif;
      color: #ed1847;
      float: left;
      margin-bottom: 20px; }
      .hospital.areaMedica .exames h2:not(:first-child),
      .hospital.contato .exames h2:not(:first-child) {
        margin-top: 20px; }
    .hospital.areaMedica .exames ul,
    .hospital.contato .exames ul {
      width: 100%;
      float: left;
      list-style: none; }
      .hospital.areaMedica .exames ul li,
      .hospital.contato .exames ul li {
        width: 100%;
        margin: 20px 0;
        float: left;
        border-bottom: 1px solid #8c8c8c; }
        .hospital.areaMedica .exames ul li .titulo,
        .hospital.contato .exames ul li .titulo {
          width: 100%;
          font: 400 20px "Calibri", "Open Sans", sans-serif;
          color: #ed1847; }
        .hospital.areaMedica .exames ul li .descricao,
        .hospital.contato .exames ul li .descricao {
          width: 100%;
          font: 400 15px "Calibri", "Open Sans", sans-serif;
          color: #8c8c8c;
          margin: 5px 0 20px; }
      .hospital.areaMedica .exames ul li:last-child,
      .hospital.contato .exames ul li:last-child {
        border-bottom: 0; }
  .hospital.areaMedica .exames.areaMedica,
  .hospital.contato .exames.areaMedica {
    width: 45%;
    float: right;
    margin-right: 0; }
    .hospital.areaMedica .exames.areaMedica p,
    .hospital.contato .exames.areaMedica p {
      width: 100%;
      font: 400 20px "Calibri", "Open Sans", sans-serif;
      color: #8c8c8c;
      margin: 5px 20px 0 20px; }

.hospital.contato,
.hospital.cadastroMedico {
  height: auto;
  margin-top: 0;
  padding: 0 !important;
  flex: 1 1 60%; }
  .hospital.contato .container,
  .hospital.cadastroMedico .container {
    width: 38%;
    float: left;
    margin-top: 0%;
    display: flex;
    position: relative; }
    .hospital.contato .container .sobreHospital.areaMedica,
    .hospital.contato .container .sobreHospital.contato,
    .hospital.cadastroMedico .container .sobreHospital.areaMedica,
    .hospital.cadastroMedico .container .sobreHospital.contato {
      width: 100%; }
      .hospital.contato .container .sobreHospital.areaMedica h1,
      .hospital.contato .container .sobreHospital.contato h1,
      .hospital.cadastroMedico .container .sobreHospital.areaMedica h1,
      .hospital.cadastroMedico .container .sobreHospital.contato h1 {
        width: 80%;
        font: 400 20px "Calibri", "Open Sans", sans-serif;
        color: white;
        margin-bottom: 20px; }
      .hospital.contato .container .sobreHospital.areaMedica p,
      .hospital.contato .container .sobreHospital.contato p,
      .hospital.cadastroMedico .container .sobreHospital.areaMedica p,
      .hospital.cadastroMedico .container .sobreHospital.contato p {
        width: 80%;
        font: 400 20px "Calibri", "Open Sans", sans-serif;
        color: white;
        margin-top: 5px;
        line-height: 35px; }
      .hospital.contato .container .sobreHospital.areaMedica a,
      .hospital.contato .container .sobreHospital.contato a,
      .hospital.cadastroMedico .container .sobreHospital.areaMedica a,
      .hospital.cadastroMedico .container .sobreHospital.contato a {
        color: white; }
  .hospital.contato .exames.contato,
  .hospital.cadastroMedico .exames.contato {
    width: 45%;
    float: right;
    margin-right: 0; }
    .hospital.contato .exames.contato p,
    .hospital.cadastroMedico .exames.contato p {
      width: 100%;
      font: 400 15px "Calibri", "Open Sans", sans-serif;
      color: #8c8c8c;
      margin: 5px 20px 0 0px; }
    .hospital.contato .exames.contato form,
    .hospital.cadastroMedico .exames.contato form {
      width: 100%;
      float: left;
      padding: 20px 0;
      border: 0; }
      .hospital.contato .exames.contato form fieldset,
      .hospital.cadastroMedico .exames.contato form fieldset {
        width: 100%;
        border: 0;
        margin: 20px 0;
        text-align: center; }
        .hospital.contato .exames.contato form fieldset input[type="text"],
        .hospital.contato .exames.contato form fieldset input[type="email"],
        .hospital.contato .exames.contato form fieldset textarea,
        .hospital.cadastroMedico .exames.contato form fieldset input[type="text"],
        .hospital.cadastroMedico .exames.contato form fieldset input[type="email"],
        .hospital.cadastroMedico .exames.contato form fieldset textarea {
          width: 95%;
          height: 52px;
          font: 400 13px "Calibri", "Open Sans", sans-serif;
          color: #8c8c8c;
          padding: 0 0 0 5%;
          background: #e6e6e6;
          border: 0;
          border-radius: 0;
          outline: none;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          -webkit-appearance: none;
          transition-duration: 0.2s; }
        .hospital.contato .exames.contato form fieldset input[type="text"]:focus,
        .hospital.contato .exames.contato form fieldset input[type="email"]:focus,
        .hospital.contato .exames.contato form fieldset textarea:focus,
        .hospital.cadastroMedico .exames.contato form fieldset input[type="text"]:focus,
        .hospital.cadastroMedico .exames.contato form fieldset input[type="email"]:focus,
        .hospital.cadastroMedico .exames.contato form fieldset textarea:focus {
          transform: scale(1.1); }
        .hospital.contato .exames.contato form fieldset textarea,
        .hospital.cadastroMedico .exames.contato form fieldset textarea {
          padding-top: 20px;
          height: 200px;
          resize: none; }
        .hospital.contato .exames.contato form fieldset button,
        .hospital.cadastroMedico .exames.contato form fieldset button {
          width: 50%;
          height: 50px;
          font: 400 13px "Calibri", "Open Sans", sans-serif;
          color: white;
          text-transform: uppercase;
          border: 0;
          background: #ed1847;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          -webkit-appearance: none; }

.cadastroMedico {
  color: white; }
  .cadastroMedico h2 {
    width: 100%;
    font: 400 25px "Calibri", "Open Sans", sans-serif;
    color: #ed1847;
    text-align: center;
    float: left;
    margin-bottom: 20px; }
    .cadastroMedico h2:not(:first-child) {
      margin-top: 20px; }
  .cadastroMedico form {
    width: 100%;
    float: left;
    padding: 20px 0 60px;
    border: 0; }
    .cadastroMedico form fieldset {
      width: 100%;
      border: 0;
      margin: 30px 0; }
      .cadastroMedico form fieldset input[type="text"],
      .cadastroMedico form fieldset input[type="email"],
      .cadastroMedico form fieldset input[type="tel"],
      .cadastroMedico form fieldset textarea {
        width: 42%;
        height: 52px;
        font: 400 13px "Calibri", "Open Sans", sans-serif;
        color: #8c8c8c;
        padding: 0 0 0 3%;
        background: #e6e6e6;
        border: 0;
        border-radius: 0;
        outline: none;
        clear: none;
        float: none;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
        -webkit-appearance: none;
        transition-duration: 0.2s;
        float: left; }
      .cadastroMedico form fieldset input:nth-child(2n),
      .cadastroMedico form fieldset div:nth-child(2n) {
        float: right; }
      .cadastroMedico form fieldset button {
        width: 40%;
        height: 50px;
        float: left;
        font: 400 15px "Calibri", "Open Sans", sans-serif;
        color: white;
        text-transform: uppercase;
        border: 0;
        background: #ed1847;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
        -webkit-appearance: none; }
      .cadastroMedico form fieldset h2 {
        width: 100%;
        font: 400 25px "Calibri", "Open Sans", sans-serif;
        color: #ed1847;
        text-align: center;
        float: left;
        margin: 40px 0; }
      .cadastroMedico form fieldset div {
        width: 45%;
        float: left; }
        .cadastroMedico form fieldset div input[type="text"],
        .cadastroMedico form fieldset div input[type="email"],
        .cadastroMedico form fieldset div input[type="tel"] {
          width: 97%; }
        .cadastroMedico form fieldset div input[type="radio"],
        .cadastroMedico form fieldset div input[type="checkbox"] {
          float: left;
          margin: 5px 10px; }
        .cadastroMedico form fieldset div label {
          width: 100%;
          font: 400 15px "Calibri", "Open Sans", sans-serif;
          color: #8c8c8c;
          float: left;
          margin: 5px 0 0 10px;
          text-transform: uppercase; }
        .cadastroMedico form fieldset div small {
          font: 400 15px "Calibri", "Open Sans", sans-serif;
          color: #8c8c8c;
          float: left;
          margin: 0px 10px 0px; }
        .cadastroMedico form fieldset div small.obs {
          font-size: 11px;
          margin-top: 10px; }
      .cadastroMedico form fieldset div.full {
        width: 100%; }
        .cadastroMedico form fieldset div.full .obs {
          margin: 10px 0;
          font-size: 15px; }
    .cadastroMedico form fieldset.margin {
      margin-bottom: 60px; }

.convenios {
  width: 100%;
  height: auto;
  float: left;
  background: white; }
  .convenios .wrap {
    width: 980px;
    margin: 0 auto;
    position: relative; }
    .convenios .wrap h2 {
      width: 50%;
      float: right;
      font: 400 25px "Calibri", "Open Sans", sans-serif;
      color: #ed1847;
      text-transform: uppercase;
      margin-top: 80px; }
    .convenios .wrap .descricao {
      width: 50%;
      float: right;
      clear: right;
      font: 400 20px "Calibri", "Open Sans", sans-serif;
      color: #8c8c8c;
      margin-top: 15px;
      line-height: 25px; }
    .convenios .wrap .convenios {
      width: 100%;
      float: left;
      margin-top: 80px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center; }
      .convenios .wrap .convenios .linkConvenios {
        height: 30px;
        font: 400 14px/33px "Calibri", "Open Sans", sans-serif;
        color: #ed1847;
        text-transform: uppercase;
        padding: 0 25px;
        border: 1px solid #ed1847;
        border-radius: 5px;
        margin: 5px 2.5px 0;
        transition-duration: 0.3s;
        cursor: default !important; }
      .convenios .wrap .convenios .linkConvenios:hover {
        background: #ed1847;
        color: white; }
  .convenios .modalConvenios {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    z-index: 100;
    top: 0;
    opacity: 0;
    background: white;
    cursor: auto; }
    .convenios .modalConvenios .modal {
      width: 90vw;
      height: 0;
      overflow-y: scroll;
      position: absolute;
      top: 7.5vh;
      left: 5vw;
      background: #ed1847;
      cursor: auto;
      transition-duration: 0.5s;
      z-index: 100;
      cursor: url("../images/fechar-modal-branco.svg"), auto; }
      .convenios .modalConvenios .modal .titulo {
        width: 50%;
        font: 700 4em/1.3em "Calibri", "Open Sans", sans-serif;
        color: white;
        margin-left: 10%;
        margin-top: 80px;
        text-transform: uppercase; }
      .convenios .modalConvenios .modal .texto {
        width: 70%;
        font: 400 20px/25px "Calibri", "Open Sans", sans-serif;
        color: white;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 10%; }
        .convenios .modalConvenios .modal .texto span {
          width: auto;
          height: 35px;
          display: inline-flex; }
          .convenios .modalConvenios .modal .texto span img {
            width: 35px;
            float: left;
            margin: 5px 5px; }
        .convenios .modalConvenios .modal .texto b {
          font-size: 1.2em; }
      .convenios .modalConvenios .modal .telefone {
        font: 400 2em "Calibri", "Open Sans", sans-serif;
        color: white;
        margin-left: 10%; }
      .convenios .modalConvenios .modal .site {
        font: 400 2em "Calibri", "Open Sans", sans-serif;
        color: white;
        margin-left: 10%; }
  .convenios .cursorFechar {
    cursor: url("../images/fechar-modal-azul.svg"), auto !important; }
  .convenios .showModal {
    display: block !important;
    opacity: 1 !important;
    animation-name: showModal;
    -webkit-animation-name: showModal;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease; }

@keyframes showModal {
  0% {
    display: block;
    opacity: 0; }
  100% {
    opacity: 1; } }
  .convenios .hideModal {
    opacity: 0 !important;
    animation-name: hideModal;
    -webkit-animation-name: hideModal;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease; }

@keyframes hideModal {
  0% {
    display: block;
    opacity: 1; }
  100% {
    opacity: 0; } }
  .convenios .openModal {
    height: 85vh !important; }

.especialidades {
  width: 100%;
  height: 300px;
  float: left;
  margin-top: 120px;
  position: relative;
  z-index: 10;
  margin-top: 50px;
  margin-bottom: 50px; }
  .especialidades .listaSlider {
    display: none; }
  .especialidades .wrap {
    width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: center; }
    .especialidades .wrap .lista {
      width: 80%;
      float: left;
      margin-top: 15px;
      text-align: center; }
      .especialidades .wrap .lista h3 {
        width: 100%;
        font: 400 30px "Calibri", "Open Sans", sans-serif;
        color: #ed1847;
        text-transform: uppercase; }
      .especialidades .wrap .lista p {
        width: 100%;
        font: 400 22px "Calibri", "Open Sans", sans-serif;
        color: #8c8c8c; }
    .especialidades .wrap .video {
      width: 55%;
      height: 314px;
      float: right;
      position: relative;
      background: black;
      overflow: hidden;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); }
      .especialidades .wrap .video img {
        width: 100%; }
  .especialidades .selo-ona {
    justify-content: center;
    display: flex;
    position: relative;
    top: 81px;
    z-index: 99999999999999; }

.callMobile {
  display: none; }

.chamadaEstrutura {
  display: none; }

footer {
  width: 100%;
  float: left;
  background: #e6e6e6;
  z-index: 5; }
  footer .wrap {
    width: 1020px;
    margin: 0 auto; }
    footer .wrap .contato {
      width: 100%;
      float: left;
      margin: 60px 0 0;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: flex-start;
      align-content: center; }
      footer .wrap .contato div {
        width: 30%;
        text-align: center; }
        footer .wrap .contato div .titulo {
          width: 100%;
          font: 400 20px "Calibri", "Open Sans", sans-serif;
          color: #8c8c8c;
          font-weight: 700; }
        footer .wrap .contato div .info {
          width: 100%;
          font: 400 20px "Calibri", "Open Sans", sans-serif;
          color: #8c8c8c; }
        footer .wrap .contato div .info.marginBottom {
          margin-bottom: 15px; }
        footer .wrap .contato div small.info {
          width: 80%;
          font: 400 14px "Calibri", "Open Sans", sans-serif;
          color: #8c8c8c;
          float: left;
          text-align: center;
          margin-top: 10px; }
        footer .wrap .contato div a {
          color: #8c8c8c;
          transition-duration: 0.5s; }
        footer .wrap .contato div a:hover {
          color: #ed1847; }
        footer .wrap .contato div .link {
          width: 80%;
          height: 50px;
          float: left;
          font: 400 15px/50px "Calibri", "Open Sans", sans-serif;
          color: white;
          text-transform: uppercase;
          text-align: center;
          background: #ed1847;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); }
        footer .wrap .contato div .link:hover {
          color: white;
          background: #ed1847; }
    footer .wrap nav {
      width: 100%;
      float: left;
      margin: 60px 0; }
      footer .wrap nav ul {
        width: 100%;
        float: left;
        list-style: none;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        align-content: center; }
        footer .wrap nav ul li {
          height: 44px;
          font: 400 20px "Calibri", "Open Sans", sans-serif;
          text-transform: uppercase;
          margin: 0 60px 0 0; }
          footer .wrap nav ul li a {
            width: 100%;
            height: 44px;
            line-height: 44px;
            display: block;
            color: #8c8c8c;
            transition-duration: 0.5s; }
          footer .wrap nav ul li a:hover {
            color: #ed1847; }
        footer .wrap nav ul li:last-child {
          margin: 0 0 0 0; }
  footer .assinatura {
    width: 100%;
    padding: 20px 0;
    float: left;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: #ed1847; }
    footer .assinatura p {
      font: 400 14px "Calibri", "Open Sans", sans-serif;
      color: white; }
      footer .assinatura p a {
        margin-top: 20px;
        color: white; }

footer.top {
  padding-top: 30px;
  margin-top: -40px; }

.uti {
  width: 100%;
  min-height: 590px;
  float: left;
  position: relative;
  z-index: 50;
  background-color: #ed1847; }
  .uti .sobreUti {
    width: 480px;
    height: 700px;
    padding: 20px 0;
    position: absolute;
    left: 15vw;
    top: -40%;
    background: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 50;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); }
    .uti .sobreUti h2 {
      width: 80%;
      font: 400 20px "Calibri", "Open Sans", sans-serif;
      color: #ed1847; }
    .uti .sobreUti .texto {
      width: 80%;
      font: 400 20px "Calibri", "Open Sans", sans-serif;
      color: #8c8c8c;
      margin: 10px 0; }
    .uti .sobreUti .titulo {
      width: 80%;
      font: 400 15px "Calibri", "Open Sans", sans-serif;
      color: #8c8c8c;
      margin: 20px 0 10px; }
    .uti .sobreUti .info {
      width: 80%;
      font: 400 15px "Calibri", "Open Sans", sans-serif;
      color: #8c8c8c; }
      .uti .sobreUti .info b {
        font: 400 15px "Calibri", "Open Sans", sans-serif; }
  .uti figure {
    width: 50vw;
    height: 500px;
    overflow: hidden;
    position: absolute;
    right: 11vw;
    top: -6%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); }
    .uti figure img {
      min-width: 100%;
      min-height: 100%;
      max-width: 300%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }

.infoCadastro {
  width: 100%;
  padding: 60px 0;
  float: left;
  margin-top: 110px;
  background: #ed1847; }
  .infoCadastro .wrap {
    width: 980px;
    margin: 0 auto; }
    .infoCadastro .wrap h1 {
      width: 100%;
      font: 400 25px "Calibri", "Open Sans", sans-serif;
      color: white;
      text-transform: uppercase; }
    .infoCadastro .wrap p {
      width: 100%;
      font: 400 20px "Calibri", "Open Sans", sans-serif;
      color: white; }

.banner-servicos {
  max-height: initial;
  width: 100%;
  margin-top: 0;
  position: relative;
  display: flex;
  padding-top: 146px;
  overflow: hidden; }
  .banner-servicos.contato {
    overflow: initial; }
    @media screen and (min-width: 982px) {
      .banner-servicos.contato {
        max-height: 350px; } }
    .banner-servicos.contato.wrap {
      margin-left: auto;
      margin-right: auto; }
      @media screen and (min-width: 982px) {
        .banner-servicos.contato.wrap {
          width: 980px; } }
  .banner-servicos .container {
    flex: 1 1 40%; }
    .banner-servicos .container .sobreHospital.servicos {
      height: 100%;
      position: relative;
      background: #ed1847;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding: 30px 0;
      box-sizing: border-box; }
      .banner-servicos .container .sobreHospital.servicos h2 {
        width: 80%;
        font: 700 20px "Calibri", "Open Sans", sans-serif;
        color: white;
        margin-bottom: 20px;
        margin-top: 20px; }
      .banner-servicos .container .sobreHospital.servicos .titulo {
        width: 80%;
        font: 400 20px "Calibri", "Open Sans", sans-serif;
        margin-top: 20px; }
      .banner-servicos .container .sobreHospital.servicos p {
        width: 80%;
        font: 400 16px "Calibri", "Open Sans", sans-serif;
        color: white;
        line-height: 25px;
        margin-bottom: 5px; }
      .banner-servicos .container .sobreHospital.servicos .text {
        font: 400 20px "Calibri", "Open Sans", sans-serif; }
      .banner-servicos .container .sobreHospital.servicos .title {
        font-size: 27px; }
      .banner-servicos .container .sobreHospital.servicos form {
        width: 60%;
        z-index: 1; }
        .banner-servicos .container .sobreHospital.servicos form select {
          width: 100%;
          height: 55px;
          padding: 0 0 0 10%;
          font: 400 20px "Calibri", "Open Sans", sans-serif;
          color: #fff;
          text-transform: uppercase;
          background: #ed1847 url("../images/icon-select_white.svg") 94% center no-repeat;
          background-size: 8%;
          border: 0;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
          outline: none;
          border-radius: 0;
          -webkit-appearance: none; }
          .banner-servicos .container .sobreHospital.servicos form select option {
            line-height: 55px; }
      .banner-servicos .container .sobreHospital.servicos h2,
      .banner-servicos .container .sobreHospital.servicos p {
        margin-right: auto;
        margin-left: auto; }
      .banner-servicos .container .sobreHospital.servicos a {
        text-decoration: underline; }
  .banner-servicos .sobreHospital.contato {
    padding: 50px 0;
    margin: 0;
    display: flex;
    flex: 1 1 65%; }
    .banner-servicos .sobreHospital.contato .wrap {
      display: flex;
      align-items: baseline;
      max-width: 550px;
      width: 100%;
      margin: 0 auto; }
    .banner-servicos .sobreHospital.contato h1,
    .banner-servicos .sobreHospital.contato .titulo {
      width: 90%;
      font: 400 28px "Calibri", "Open Sans", sans-serif;
      color: white;
      margin-bottom: 5px; }
    .banner-servicos .sobreHospital.contato p {
      width: 90%;
      font: 400 20px "Calibri", "Open Sans", sans-serif;
      color: white;
      margin-bottom: 5px;
      line-height: 30px; }
    .banner-servicos .sobreHospital.contato .link {
      padding: 0;
      font: 400 15px/1.5 "Calibri", "Open Sans", sans-serif;
      color: white;
      text-transform: uppercase;
      text-align: center;
      border: 0;
      outline: none; }
    .banner-servicos .sobreHospital.contato .contato-col {
      flex: 1 1 50%; }

.serivcos-img-wrapper {
  float: none;
  margin-top: 0;
  flex: 1 1 60%; }
  .serivcos-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.bx-shadow {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); }

.no-index {
  z-index: 0 !important; }

.no-pad {
  padding: 0 !important; }

.no-float {
  float: none !important; }

.no-margin_top {
  margin-top: 0 !important; }

.no-margin {
  margin: 0 !important; }

.bg-alternative {
  background-color: #f4793b !important; }

.bg-primary {
  background-color: #ed1847 !important; }

.mar_b-md {
  margin-bottom: 40px; }

.hospital.servicos .exames.corpoClinico {
  padding: 20px;
  margin: 0;
  background: white; }

.hospital.contato .exames.contato.panel {
  width: 100%;
  float: none;
  background: white;
  padding: 0 10%;
  margin: 0 auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 60px;
  right: 0;
  box-sizing: border-box; }

.hospital.contato .wrap-sm {
  max-width: 724px;
  width: 100%;
  margin: 0 auto;
  height: auto; }

.banner {
  margin-top: 146px !important; }
  .banner .sliderEstrutura {
    height: 100%;
    float: none; }
    .banner .sliderEstrutura .slide {
      height: 600px; }
      @media screen and (max-width: 768px) {
        .banner .sliderEstrutura .slide {
          height: 400px; } }
      @media screen and (min-width: 1200px) {
        .banner .sliderEstrutura .slide {
          height: 100vh; } }
    .banner .sliderEstrutura .imagemBanner {
      height: 100%;
      width: 100%;
      height: inherit;
      position: static; }
      .banner .sliderEstrutura .imagemBanner img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .banner .sliderEstrutura ~ .wrap {
      max-width: 680px;
      width: 100%;
      position: absolute;
      z-index: 30;
      left: 0;
      top: 50%;
      z-index: 31;
      transform: translateY(-50%);
      height: 160px;
      min-height: 0; }

.chamadaBanner.estrutura {
  background: url(../images/path-inverse.svg) no-repeat 5px 5px;
  background-size: cover;
  position: static;
  background-position: -320px center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  padding-left: 140px; }
  .chamadaBanner.estrutura .titulo,
  .chamadaBanner.estrutura .texto {
    margin: 0;
    display: block;
    float: none;
    color: #fff;
    font-size: 20px; }
  .chamadaBanner.estrutura .titulo {
    font-weight: bold; }

.hospital.estrutura {
  float: none;
  height: 100%;
  min-height: 0;
  margin-bottom: 40px;
  display: flex; }
  .hospital.estrutura .sliderEstrutura {
    position: relative !important;
    width: auto !important;
    top: 0 !important;
    flex: 1 1 60%; }
    .hospital.estrutura .sliderEstrutura .slide {
      height: 100%; }
      .hospital.estrutura .sliderEstrutura .slide img {
        position: static !important;
        transform: none !important;
        height: 100%;
        object-fit: cover; }
    .hospital.estrutura .sliderEstrutura .slick-list,
    .hospital.estrutura .sliderEstrutura .slick-track,
    .hospital.estrutura .sliderEstrutura .mask {
      height: 100% !important; }
  .hospital.estrutura > .wrap {
    height: 100%;
    flex: 1 1 40%; }
    .hospital.estrutura > .wrap .sobreHospital.estrutura {
      position: static;
      max-width: 100%;
      width: initial;
      box-sizing: border-box;
      height: auto;
      min-height: 0;
      padding: 30px 0; }
      .hospital.estrutura > .wrap .sobreHospital.estrutura p {
        font-size: 16px;
        line-height: 35px !important; }
      .hospital.estrutura > .wrap .sobreHospital.estrutura ul {
        list-style: none; }

.sobreUti {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.contato.container {
  max-width: 980px;
  text-align: left;
  margin: 0 auto; }
  .contato.container .col-6 {
    width: 50%;
    padding: 20px 0;
    margin-bottom: 40vh; }
    .contato.container .col-6 p {
      width: 100%;
      font: 400 20px "Calibri", "Open Sans", sans-serif;
      color: #8c8c8c;
      margin: 5px 20px 0 0px; }

.obs-texto {
  color: #ffffff; }

.convenio-grid {
  display: flex;
  justify-content: center;
  color: #ffffff;
  width: 74%;
  margin-top: 10px; }

.col-right {
  padding-right: 6%; }

.col-left {
  padding-left: 6%; }

.convenio-grid ul {
  width: 80%;
  font: 400 16px "Calibri", "Open Sans", sans-serif; }

/* PopUp */
.popup-show {
  display: block; }

.popup-remove {
  display: none; }

.popup .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  display: none; }

.popup .content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #000;
  z-index: 999999;
  text-align: center;
  padding: 50px 20px;
  box-sizing: border-box;
  background: #e6e6e6;
  font-family: "Calibri", "Open Sans", sans-serif; }

.popup .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  background: #222;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer; }

.popup .overlay {
  display: block; }

.popup .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1); }

.popup p {
  padding: 20px; }
