@import 'style.scss';

@media screen and (max-width: 1441px){

	.banner{
		width: 100%;

		.sliderBanner{
			width: 100%;
			min-height: 35vw;
			overflow: hidden;
			position: relative;
			float: left;

			.slide{
				width: 100%;
				height: 170px;
				float: left;
				padding: 0;
				margin: 0;
				outline: none;
				position: relative;

				.mask{
					width: 100%;
					height: 50vw;
					position: absolute;
					z-index: 20;
					top: 0;
					background: rgba(0,0,0,0.2);
				}
				.imagemBanner{
					width: 100%;
					position: absolute;
					top: 0;
					z-index: 10;
                    height: 35vw;
				}
                
			}
			.slick-next.slick-arrow, .slick-prev.slick-arrow{
				width: 27px;
				height: 55px;
				border: 0;
				outline: none;
				position: absolute;
				z-index: 80;
				color: transparent;
				right: 5%;
				top: 50%;
				transform: translateY(-50%);
				background: url('../images/arrow-especialidade.svg') center no-repeat;
				background-size: 100%;
			}
			.slick-prev.slick-arrow{
				right: auto;
				left: 5%;
				transform: translateY(-50%) rotate(180deg);
			}
             
		}
		.wrap{
			width: 100%;
			min-height: 30vw;

			.chamadaBanner{
//				bottom: 20%;
			}
			.chamadaBanner.estrutura{
				bottom: 20%;
			}
		}
	}
	.hospital, .hospital.estrutura{
		width: 100%;

		.wrap {
			z-index: 10;
		}
		.sliderEstrutura{
			width: 50.6vw;
			height: 60vh;
			overflow: hidden;
			position: relative;
			position: absolute;
			left: 0;
			top: 7vh;
			z-index: 20;
		}
	}
	.uti{
		width: 100%;

		.sobreUti{
			left: 7.5vw;

			h2{
				width: 80%;
				font: $medium 20px $hind;
				color: $green;
			}
			.texto{
				width: 80%;
				font: $regular 20px $hind;
				color: $darkGrey;
				margin: 10px 0;
			}
			.titulo{
				width: 80%;
				font: $medium 15px $hind;
				color: $darkGrey;
				margin: 20px 0 10px;
			}
			.info{
				width: 80%;
				font: $regular 15px $hind;
				color: $darkGrey;
			}
		}
		figure{
			width: 55vw;
			height: 500px;
			overflow: hidden;
			position: absolute;
			right: 7.5vw;
			top: -6%;
			box-shadow: 0 0 30px rgba(0,0,0,0.3);

			img{
				min-width: 100%;
				min-height: 100%;
				max-width: 300%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
	.sobreHospital.corpoClinico form{
		width: 70%;
		bottom: -3% !important;
	}

}

@media screen and (max-width: 1281px){

	.banner{
		width: 100%;

		.wrap{
			width: 980px;

			.chamadaBanner{
				bottom: 15%;
			}
		}
	}
	.hospital, .hospital.estrutura{
		width: 100%;

		.sliderEstrutura{
			width: 50.7vw;
			height: 60vh;
			overflow: hidden;
			position: relative;
			position: absolute;
			left: 0;
			top: 7vh;
			z-index: 20;

			.slide{
				width: 100%;

				img{
					min-width: 100%;
					min-height: 100%;
					max-width: 300%;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%,-50%);
				}
			}
		}
	}
	.uti{
		width: 100%;

		.sobreUti{
			left: 7.5vw;

			h2{
				width: 80%;
				font: $medium 20px $hind;
				color: $green;
			}
			.texto{
				width: 80%;
				font: $regular 20px $hind;
				color: $darkGrey;
				margin: 10px 0;
			}
			.titulo{
				width: 80%;
				font: $medium 15px $hind;
				color: $darkGrey;
				margin: 20px 0 10px;
			}
			.info{
				width: 80%;
				font: $regular 15px $hind;
				color: $darkGrey;
			}
		}
		figure{
			width: 55vw;
			height: 500px;
			overflow: hidden;
			position: absolute;
			right: 7.5vw;
			top: -6%;
			box-shadow: 0 0 30px rgba(0,0,0,0.3);

			img{
				min-width: 100%;
				min-height: 100%;
				max-width: 300%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}


}

@media screen and (max-width: 1025px){

	header{
		width: 100%;

		.acessibilidade{
			display: none;
		}
	}
	.banner{
		width: 100%;
		height: 100vh;
		position: relative;
		margin-top: 110px !important;

		.sliderBanner{
			width: 100vw;
			height: 100vh;
			position: relative;

			.slide{
				width: 100vw !important;
				height: 100vh;
				float: left;
				padding: 0;
				margin: 0;
				outline: none;
				overflow: hidden;
				position: relative;

				.mask{
					width: 100vw;
					height: 100vh;
					position: absolute;
					z-index: 20;
					top: 0;
					background: rgba(0,0,0,0.2);
				}
				.imagemBanner{
					height: 100vh;
					position: absolute;
					top: 0%;
					left: 50%;
					transform: translateX(-50%);
					z-index: 10;
				}
			}
			.slick-next.slick-arrow, .slick-prev.slick-arrow{
				width: 27px;
				height: 55px;
				border: 0;
				outline: none;
				position: absolute;
				z-index: 80;
				color: transparent;
				right: 5%;
				top: 50%;
				transform: translateY(-50%);
				background: url('../images/arrow-especialidade.svg') center no-repeat;
				background-size: 100%;
			}
			.slick-prev.slick-arrow{
				right: auto;
				left: 5%;
				transform: translateY(-50%) rotate(180deg);
			}
		}
		.wrap{
			width: 980px;
			height: 100vh;

			.chamadaBanner, .chamadaBanner.estrutura{
				// width: 380px;
				// height: 140px;
				// position: absolute;
				// bottom: 20%;
				// right: 0;

				a{
					width: 100%;

					.titulo{
						width: 90%;
						font: $regular 18px/23px $hind;
						margin-top: 40px;
					}
					.link{
						width: 25%;
						font: $semiBold 16px $hind;
					}
					.c2a{
						width: 65%;
					}
				}
				.titulo{
					font: $semiBold 15px $hind;
//					margin-top: 40px;
				}
				.texto{
					font: $semiBold 15px $hind;
				}
			}
			// .chamadaBanner.estrutura{
			// 	display: none;
			// }
		}
	}
	.imagem-home-1{
		background-image: url('../images/banner-home-1-tablet.jpg');
        background-position-x: -70px;
        background-position-y: 0;
	}
	.imagem-home-2{
		background-image: url('../images/banner-home-2-tablet.jpg');
        background-position-x: -70px;
        background-position-y: 0;
	}
	.imagem-home-3{
		background-image: url('../images/ban-home-infografico-maos-3-tablet.png');
        background-position-x: -70px;
        background-position-y: 0;
	}

	.imagem-estrutura-1{
		background: url('../images/banner-estrutura-1-tablet.jpg') center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.imagem-estrutura-2{
		background: url('../images/banner-estrutura-2-tablet.jpg') center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.imagem-estrutura-3{
		background: url('../images/banner-estrutura-3-tablet.jpg') center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.hospital{
		width: 100%;
		height: 550px;

		.wrap{
			width: 980px;

			.sobreHospital{
				width: 440px;
				height: auto;
				padding: 30px 0;
				top: -25%;
				h1{
					font: $medium 15px $hind;
				}
				p{
					font: $regular 20px $hind;
					line-height: 35px;
				}
			}
		}
	}
	.convenios{
		width: 100%;

		.modalConvenios{
			width: 100%;

			.modal{
				width: 90vw;


				.titulo{
					font: $bold 3em/1.3em $hind;
				}
				.texto{
					font: $regular 20px/25px $hind;
				}
				.telefone{
					font: $semiBold 1.5em $hind;
				}
				.site{
					font: $semiBold 1.5em $hind;
				}
			}
		}
		.cursorFechar{
			cursor: url('../images/fechar-modal-azul.svg'), auto !important;
		}
		.showModal{
			display: block !important;
			opacity: 1 !important;

			animation-name: showModal;
			-webkit-animation-name: showModal;

			animation-duration: 1s;
			-webkit-animation-duration: 1s;

			animation-timing-function: ease;
			-webkit-animation-timing-function: ease;
		}
		// ANIMAÇÃO DO MODAL DOS CONVENIOS
		@keyframes showModal {
			0% {
				display: block;
				opacity: 0;
			}
			100%{
				opacity: 1;
			}
		}
		.hideModal{
			opacity: 0 !important;

			animation-name: hideModal;
			-webkit-animation-name: hideModal;

			animation-duration: 1s;
			-webkit-animation-duration: 1s;

			animation-timing-function: ease;
			-webkit-animation-timing-function: ease;
		}
		// ANIMAÇÃO DO MODAL DOS CONVENIOS
		@keyframes hideModal {
			0% {
				display: block;
				opacity: 1;
			}
			100%{
				opacity: 0;
			}
		}
		.openModal{
			height: 85vh !important;
		}
	}
	.especialidades{
		width: 100%;
		height: auto;
		margin-top: 60px;

		.wrap{
			width: 980px;

			.lista{
				width: 100%;
				float: left;
				margin-top: 15px;

				h3{
					width: 100%;
					font: $medium 25px $hind;
					color: $green;
					text-transform: uppercase;
					text-align: center;
				}
				p{
					width: 80%;
					font: $medium 15px $hind;
					color: $darkGrey;
					text-align: center;
					margin: 20px 10% 60px;
				}
			}
			.video{
				width: 55%;
				height: 303px;
				float: none;
				display: block;
				clear: both;
				position: relative;
				background: black;
				margin: 0 auto 0;
				box-shadow: 0 0 30px rgba(0,0,0,0.3);
			}
		}
	}
	footer{
		width: 100%;

		.wrap{
			width: 980px;

			.contato{
				width: 100%;
				float: left;
				margin: 20px 0 0;
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;
				align-content: center;

				div{
					width: 100%;
					margin: 30px 0;

					.titulo{
						text-align: center;
					}
					.info{
						text-align: center;
					}
					small.info{
						width: 100%;
						text-align: center;
					}
					.link{
						width: 25%;
						height: 50px;
						float: none;
						display: block;
						clear: both;
						margin: 0 auto;
					}
				}
			}
			nav{
				width: 100%;

				ul{
					width: 100%;
					float: left;
					list-style: none;
					display: flex;
					flex-flow: column;

					li{
						margin: 10px 0;

						a{
							width: 100%;
							text-align: center;
						}
					}
				}
			}
		}
		.assinatura{
			width: 100%;
			padding: 20px 0;
			float: left;
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			background: $green;
            
            p{
                width: 65%;
                text-align: center;
            }
		}
	}
	.hospital.estrutura{
		width: 100%;
		min-height: 550px;
		z-index: 40;

		.sliderEstrutura{
			width: 100vw;
			height: 60vh;
			overflow: hidden;
			position: relative;
			position: absolute;
			left: 0;
			//top: 300px !important;
			top: auto;
			z-index: 10;

			.slide{
				width: 100%;

				img{
					min-width: 100%;
					min-height: 100%;
					max-width: 300%;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%,-50%);
				}
			}
		}
		.sobreHospital.estrutura{
			//width: 480px;
			//height: 410px !important;
			left: auto;
			right: auto;
			//top: -7% !important;
			//left: 50%;
			//transform: translateX(-50%);
			z-index: 60 !important;
			background: $green;

			h1{
				width: 80%;
				//font: $medium 15px $hind !important;
				color: white;
			}
			p{
				width: 80%;
				font: $regular 15px $hind !important;
				color: white;
				margin-top: 20px;
				line-height: 35px;
			}
		}
	}
	.chamadaEstrutura{
		width: 380px;
		height: 140px;
		position: absolute;
		top: -10vh;
		right: auto;
		left: 50%;
		//display: block;
		z-index: 60;
		background: $green;
		transform: translateX(-50%);
		box-shadow: 0 0 30px rgba(0,0,0,0.3);

		.titulo{
			width: 80%;
			font: $semiBold 15px $hind;
			margin: 40px 10% 0;
			float: left;
			color: white;
		}
		.texto{
			width: 80%;
			font: $semiBold 15px $hind;
			margin: 10px 10% 0;
			float: left;
			color: white;
		}
	}
	.uti{
		width: 100%;
		min-height: 95vh;
		z-index: 60;
		margin: 20vh 0 0;

		.sobreUti{
			bottom: 5vh;
			top: auto;
			left: 50%;
			transform: translateX(-50%);

			h2{
				width: 80%;
				font: $medium 20px $hind;
				color: $green;
			}
			.texto{
				width: 80%;
				font: $regular 20px $hind;
				color: $darkGrey;
				margin: 10px 0;
			}
			.titulo{
				width: 80%;
				font: $medium 15px $hind;
				color: $darkGrey;
				margin: 20px 0 10px;
			}
			.info{
				width: 80%;
				font: $regular 15px $hind;
				color: $darkGrey;
			}
		}
		figure{
			width: 100vw;
			height: 500px;
			overflow: hidden;
			position: absolute;
			right: 0;
			top: 0;
			box-shadow: 0 0 30px rgba(0,0,0,0.3);

			img{
				min-width: 100%;
				min-height: 100%;
				max-width: 300%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
	.hospital.areaMedica, .hospital.contato{
		height: auto;
		min-height: auto;
		padding: 40px 0 120px;

		.wrap{
			width: 90%;
			height: auto;
		}
	}

}

@media screen and (max-width: 688px) {

}

@media screen and (max-width: 981px){
	.banner{
		margin-top: 106px !important;
	}

	.no-mar_b-md{
		margin-bottom: 0 !important;
	}

	.banner-servicos.utiAbout{
		transform: translateY(-101px);

		> .container{
			order:2;
		}
	}

	.banner.servicos.press{
		height:25vh;
	}

	.banner-servicos .container .sobreHospital.contato .contato-col{
		padding: 0 15px;	
	}

	.banner .wrap .chamadaBanner.estrutura {
    	display: none;
	}

	.banner-servicos.contato.wrap{
		width: 100%;
	}

	.banner-servicos {
		.sobreHospital{
			&.contato{
				flex-wrap: wrap;			
				h1, p{
					width: 100%
				}
			}
		}
	}

	.banner-servicos.contato{
        margin-bottom: 0;
	}

	.sobreUti{
		align-items: center;
	}

	header{	
		height: auto;

		.wrap{
			width: 90%;
			margin: 0 auto;
			position: relative;

			.logo{
				width: 200px;
			}
			.linkMenu{
				width: 35px;
				height: 35px;
				display: block;
				background: url('../images/menu.svg') center no-repeat;
				background-size: 100%;
				transition-duration: 0.3s;
			}
			.fecharMenu{
				background: url('../images/fechar-menu.svg') center no-repeat;
				background-size: 75%;
			}
			nav{
				width: 180px;
				height: 0;
				position: absolute;
				top: 85%;
				right: 0;
				overflow: hidden;
				background: white;
				transition-duration: 0.5s;
				box-shadow: 0 0 30px rgba(0,0,0,0.3);
				opacity: 0;

				ul{
					width: 100%;
					height: 100%;
					list-style: none;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-end;
					align-content: center;
					padding: 5px 0 10px;

					li{
						width: auto;
						height: 40px;
						margin: 5px 12.5% 0;
						padding: 0 5px 0 0;
						overflow: hidden;
						opacity: 0;
						border-bottom: 1px solid $red;
						transition-duration: 0.5s;

						a{
							width: 130px;
							text-align: right;
							float: right;
							display: block;
						}
						a.contato{
							background: white;
							color: $red;
						}
						a:hover{
							color: $red;
						}
						a.contato:hover{
							color: $red;
							background: white;
						}
					}
					li:last-child{
						border-bottom: none;
						margin: 5px 15% 0;
						width: 20%;
					}
				}
			}
			.openMenu{
				height: 260px !important;
				opacity: 1;
			}
			.showLinksMenu{
				width: 130px !important;
				opacity: 1;
			}
		}
	}
	.banner{
		width: 100%;
		height: 75vh;
		margin-top: 80px;
		z-index: 30;
		position: relative;
		overflow: inherit;

		.sliderBanner{
			height: 75vh;

			.slide{
				width: 100vw !important;
				height: 100vh;
				float: left;
				padding: 0;
				margin: 0;
				outline: none;
				overflow: hidden;
				position: relative;

				.mask{
					width: 100vw;
					height: 65vh;
					position: absolute;
					z-index: 20;
					top: 0;
					background: rgba(0,0,0,0.2);
				}
				.imagemBanner{
					height: 65vh;
					position: absolute;
					top: 0%;
					left: 50%;
					transform: translateX(-50%);
					z-index: 10;
				}
			}
		}
		.wrap{
			width: 100% !important;
			height: 65vh;

			.chamadaBanner{
				width: 314px;
				height: 100px;
				position: absolute;
				bottom: 15%;
				right: auto;
				left: 0;
				transform: translateX(0);
				z-index: 30;
				background-size: cover;
				background-position: -316px center;
				background-image: url(../images/path-inverse.svg);

				.titulo{
					margin: 0;
					box-sizing: border-box;
					padding: 0.5rem 1rem;
					width: 100%;

//					~ a{
//						display: none;
//					}
                    
				}

				a{
					width: 100%;
                    margin: 0;
                    padding-left:  1rem;
                    
                    font-size: 16px;

					.titulo{
						width: 90%;
						font: $semiBold 20px/23px $hind;
						margin-top: 30px;
					}
					.link{
						width: 28%;
						font: $semiBold 18px $hind;
					}
					.c2a{
						width: 65%;
					}
				}
			}
		}
	}
	.banner.servicos{
		width: 100%;
		height: 75vh;
		margin-top: 80px;

		.servicos-img-wrapper{
			// min-width: 100vw;
			// min-height: 75vh;
			// max-width: 300vw;
			// width: auto;
			// float: none;
			// position: absolute;
			// top: 50%;
			// left: 50%;
			// transform: translate(-50%,-50%);
			
			img{
				float: none;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.hospital{
		width: 100%;
		height: auto;
		z-index: 20;
		position: relative;

		#mapa{
			width: 100%;
			height: 345px;
			position: relative;
			float: left;
			margin-top: 450px;
			top: auto;
		}
		.wrap{
			width: 100%;

			.sobreHospital{
				width: 100%;
				height: 500px;
				top: -18%;
				z-index: 10;

				h1{
					font: $medium 18px $hind;
				}
				p{
					font: $regular 16px $hind;
					line-height: 25px;
				}
			}
			.localizacao{
				width: 314px;
				height: 120px;
				position: absolute;
				bottom: 15%;
				top: calc(100% + 150px);
				right: auto;
				left: 0;
				transform: translateX(0);
				z-index: 30;
				background-size: cover;
				background-position: -440px center;
				background-image: url(../images/path-inverse.svg);
				padding: 1rem;
    			box-sizing: border-box;
				padding-right: 2rem;
				text-transform: uppercase;

				.titulo{
					width: 100%;
					font: $bold 14px $hind;
					color: #FFF;
					text-transform: uppercase;
					margin-left:0;
					margin-bottom:5px;
				}
				.endereco{
					width: 100%;
					font: $regular 10px $hind;
					color: #FFF;
					margin-top: 0;
					margin-left:0;
					margin-bottom:0 !important;
				}
				.tracarRota{
					//align-self: flex-end;
					font: $bold 12px $hind;
					color: #FFF;
					margin-top: 10px;
					//margin-right: 10%;
					text-transform: uppercase;
					//border-bottom: 1px solid #FFF;
					padding-bottom: 5px;
					transition-duration: 0.3s;
					margin-left:0;
					margin-bottom:0 !important;
				}
//				.tracarRota:hover{
//					border-bottom: 1px solid #FFF;
//				}
			}
		}
	}
	.convenios{
		width: 100%;
		height: auto;
		float: left;
		background: white;

		.wrap{
			width: 90%;
			margin: 0 auto;

			h2{
				width: 100%;
				float: left;
				font: $regular 15px $hind;
			}
			.descricao{
				width: 100%;
				float: right;
				font: $regular 15px $hind;
			}
			.convenios{
				margin-top: 20px;
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;
				align-items: center;

				.linkConvenios{
					height: 45px;
					font: $regular 14px/48px $hind;
				}
			}
		}
		.modalConvenios{
			width: 100%;
			height: 100%;
			position: fixed;
			display: none;
			z-index: 100;
			top: 0;
			opacity: 0;
			background: white;
			cursor: auto;

			.modal{
				width: 95vw;
				height: 0;
				position: absolute;
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: flex-start;
				top: 7.5vh;
				left: 2.5vw;
				background: $green url('../images/fechar-modal-branco.svg') 95% 5% no-repeat;
				cursor: auto;
				transition-duration: 0.5s;
				z-index: 100;
				cursor: auto;


				.titulo{
					width: 80%;
					font: $bold 4em/1.3em $hind;
					color: white;
					margin-left: 10%;
					text-transform: uppercase;
				}
				.texto{
					width: 80%;
					font: $regular 20px/25px $hind;
					color: white;
					margin-top: 40px;
					margin-bottom: 40px;
					margin-left: 10%;
				}
				.telefone{
					font: $semiBold 2em $hind;
					color: white;
					margin-left: 10%;
				}
				.site{
					font: $semiBold 2em $hind;
					color: white;
					margin-left: 10%;
				}
			}
		}
		.cursorFechar{
			cursor: url('../images/fechar-modal-azul.svg'), auto !important;
		}
		.modal.openModal{
			height: 90vh !important;
		}
	}
	.especialidades{
		width: 100%;

		.wrap{
			width: 90%;

			.lista{
				margin-top: 25px;

				h3{
					width: 100%;
					font: $medium 25px $hind;
					color: $green;
					text-transform: uppercase;
					text-align: center;
				}
				p{
					width: 80%;
					font: $medium 15px $hind;
					color: $darkGrey;
					text-align: center;
					margin: 20px 10% 60px;
				}
			}
			.video{
				width: 80%;
				height: 237px;
				float: none;
				display: block;
				clear: both;
				position: relative;
				background: black;
				margin: 0 auto 0;
				box-shadow: 0 0 30px rgba(0,0,0,0.3);
			}
		}
	}
	footer{
		width: 100%;

		.wrap{
			width: 90%;
		}
	}
	.hospital.estrutura{
		width: 100%;
		//min-height: 1000px;
		margin-top: 0;
		z-index: 40;
		flex-wrap: wrap;
		transform: translateY(-101px);

		.wrap {
		  z-index: 20;
		  order:1;
		}
		.sliderEstrutura{
			//width: 100vw;
			//height: 60vh;
			overflow: hidden;
			position: relative;
			position: absolute;
			left: 0;
			//top: 600px !important;
			top: auto;
			z-index: 10;
			flex-basis:100%;
			order:2;

			.slide{
				width: 100%;

				.mask{
					height: 60vh;
				}
				img{
					min-width: 100%;
					min-height: 100%;
					max-width: 300%;
					position: absolute;
					left: 0%;
					top: 50%;
					transform: translate(0,-50%);
				}
			}
		}
		.sobreHospital.estrutura{
			width: 480px;
			height: auto !important;
			right: auto;
			//top: -7% !important;
			//left: 50% !important;
			//transform: translateX(-50%);
			z-index: 60 !important;
			background: $green;

			h1{
				width: 80%;
				//font: $medium 15px $hind !important;
				color: white;
				margin-bottom:0 !important;
			}
			p{
				width: 80%;
				font: $regular 15px $hind !important;
				color: white;
				margin-top: 20px;
				line-height: 35px;
			}
		}
		.wrap{
			//width: 100%;
			flex-basis:100%;
		}
	}
	.chamadaEstrutura{
		width: 380px;
		height: 140px;
		position: absolute;
		top: -10vh;
		right: auto;
		left: 50%;
		display: block;
		z-index: 60;
		background: $green;
		transform: translateX(-50%);
		box-shadow: 0 0 30px rgba(0,0,0,0.3);
		padding: 1rem 2rem;
    	box-sizing: border-box;

		&.shapeBanner{
			width: auto;
			top: 190%;
			left: 0;
			transform: translateX(0);
			height: 190px;
			background: transparent url(../images/path-inverse.svg) no-repeat -560px center /cover;
			box-shadow:none;

			.titulo{
				font-size:16px;
				width: 100%;
				margin:0;
			}

			.texto{
				margin: 0;
				//margin-top: 10px;
			}
		}

		.titulo{
			width: 80%;
			font: $semiBold 15px $hind;
			margin: 40px 10% 0;
			float: left;
			color: white;
		}
		.texto{
			width: 90%;
			font: $semiBold 12px $hind;
			margin: 10px 10% 0;
			float: left;
			color: white;
		}
	}
	.uti{
		width: 100%;
		min-height: 100vh;
		z-index: 60;
		margin: 20vh 0 0;

		.sobreUti{
			height: 600px;
			bottom: auto;
			top: 40vh;
			left: 50%;
			transform: translateX(-50%);

			h2{
				width: 80%;
				font: $medium 20px $hind;
				color: $green;
			}
			.texto{
				width: 80%;
				font: $regular 15px $hind;
				color: $darkGrey;
				margin: 10px 0;
			}
			.titulo{
				width: 80%;
				font: $medium 15px $hind;
				color: $darkGrey;
				margin: 20px 0 10px;
			}
			.info{
				width: 80%;
				font: $regular 15px $hind;
				color: $darkGrey;
			}
		}
		figure{
			width: 100vw;
			height: 500px;
			overflow: hidden;
			position: absolute;
			right: 0;
			top: 0;
			box-shadow: 0 0 30px rgba(0,0,0,0.3);

			img{
				min-width: 100%;
				min-height: 100%;
				max-width: 300%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
	.hospital.servicos{
		height: auto;
		padding: 0;

		.wrap{
			width: 100%;
		}
		.container{
			width: 100%;
			float: right;
			margin-top: 0%;
			padding: 40px 0 0;
			position: relative;
			background: $grey;

			.sobreHospital.servicos{
				width: 70%;
				height: auto;
				margin: -20% 0 0 15%;
				padding: 40px 0;
				float: left;
				position: relative;
				background: $red;
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;
				box-shadow: 0 0 30px rgba(0,0,0,0.3);

				h1{
					width: 80%;
					font: $medium 15px $hind;
					color: white;
				}
				.titulo{
					width: 80%;
					font: $medium 15px $hind;
					margin-top: 20px;
				}
				p{
					width: 80%;
					font: $regular 20px $hind;
					color: white;
					margin-top: 10px;
					line-height: 25px;
				}
			}
			.imagemServico{
				width: 100%;
				height: 520px;
				float: left;
				position: relative;
				overflow: hidden;
				margin-top: -10%;
				box-shadow: none;

				img{
					width: 100%;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
		.exames{
			width: 80%;
			float: left;
			padding: 40px 10%;

			h2{
				width: 100%;
				font: $semiBold 35px $hind;
				color: $green;
				float: left;
				margin-bottom: 15px;
			}
			ul{
				width: 100%;
				float: left;
				list-style: none;

				li{
					width: 100%;
					margin: 20px 0;
					float: left;
					border-bottom: 1px solid $darkGrey;

					.titulo{
						width: 100%;
						font: $regular 20px $hind;
						color: $green;
					}
					.descricao{
						width: 100%;
						font: $regular 15px $hind;
						color: $darkGrey;
						margin: 10px 0 20px;
					}
				}
			}
		}
	}

	.hospital.corpoClinico, .hospital.areaMedica, .hospital.contato{
		height: auto;
		padding: 30px 0;
		z-index: 70;

		.container{
			width: 90%;
			margin: -20% 0 0 5%;
			float: left;
			position: relative;

			.sobreHospital.corpoClinico form{
				width: 80%;
				bottom: -2% !important;

				select{
					background-size: 10%;
					font-size: 11px !important;
				}
			}
		}
		.exames.corpoClinico{
			width: 85%;
			float: right;
			margin-right: 7.5%;
		}
	}
	.hospital.contato{
		padding: 30px;

	}
	.hospital.areaMedica{
		height: auto;

		.wrap{
			width: 90%;
			height: auto;
		}
		.container{
			width: 100%;
			margin: -20% 0 0 0;
			float: left;
			position: relative;

			.sobreHospital.areaMedica{
				width: 100%;
				background: $green;

				.link{
					width: 70%;
					bottom: -5%;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
		.exames.areaMedica{
			width: 85%;
			float: right;
			margin: 60px 7.5% 0 0;

			p{
				width: 100%;
				font: $regular 15px $hind;
				color: $darkGrey;
				margin: 10px 0 20px;
			}
		}
	}
	.hospital.contato{
		height: auto;

		.container{
			width: 90%;
		}
		.exames.contato{
			width: 90%;
			float: right;
			margin-right: 5%;

			form button{
				width: 100% !important;
			}
		}
	}
	.cadastroMedico{
		color: white;

		h2{
			width: 100%;
			font: $semiBold 25px $hind;
			color: $green;
			text-align: center;
			float: left;
			margin: 40px 0;
		}
		.wrap{
			width: 90%;
		}
		form{
			width: 100%;
			float: left;
			padding: 20px 0 60px;
			border: 0;

			fieldset{
				width: 100%;
				border: 0;
				margin: 30px 0;

				input[type="text"], input[type="email"], input[type="tel"], textarea{
					width: 42%;
					height: 52px;
					font: $semiBold 13px $hind;
					color: $darkGrey;
					padding: 0 0 0 3%;
					background: $grey;
					border: 0;
					border-radius: 0;
					outline: none;
					clear: none;
					float: none;
					box-shadow: 0 3px 10px rgba(0,0,0,0.3);
					-webkit-appearance: none;
					transition-duration: 0.2s;
					float: left;
				}
				input:nth-child(2n), div:nth-child(2n){
					float: right;
				}
				button{
					width: 40%;
					height: 50px;
					float: left;
					font: $semiBold 13px $hind;
					color: white;
					text-transform: uppercase;
					border: 0;
					background: $green;
					box-shadow: 0 3px 10px rgba(0,0,0,0.3);
					-webkit-appearance: none;
				}
				h2{
					width: 100%;
					font: $semiBold 25px $hind;
					color: $green;
					text-align: center;
					float: left;
					margin: 40px 0;
				}
				div{
					width: 45%;
					float: left;

					input[type="text"], input[type="email"], input[type="tel"]{
						width: 97%;
					}
					input[type="radio"], input[type="checkbox"]{
						float: left;
						margin: 5px 10px;
					}
					label{
						width: 100%;
						font: $semiBold 15px $hind;
						color: $darkGrey;
						float: left;
						margin: 5px 0 0 10px;
						text-transform: uppercase;
					}
					small{
						font: $semiBold 15px $hind;
						color: $darkGrey;
						float: left;
						margin: 0px 10px 0px;
					}
					small.obs{
						font-size: 11px;
						margin-top: 10px;
					}
				}
				div.full{
					width: 100%;

					.obs{
						margin: 10px 0;
						font-size: 13px;
					}
				}
			}
			fieldset.margin{
				margin-bottom: 60px;
			}
		}
	}
	.infoCadastro{
		width: 100%;
		margin-top: 80px;

		.wrap{
			width: 90%;
		}
	}

}

@media screen and (max-width: 769px){
	.imagem-home-1{
		background-image: url('../images/banner-home-1-mobile.jpg');
        background-position-x: -70px;
        background-position-y: 0;
	}
	.imagem-home-2{
		background-image: url('../images/banner-home-2-mobile.jpg');
        background-position-x: -70px;
        background-position-y: 0;
	}
	.imagem-home-3{
		background-image: url('../images/ban-home-infografico-maos-3-mobile.png');
        background-position-x: -70px;
        background-position-y: 0;
	}
	.imagem-home-4{
		background-image: url('../images/banner-home-covid19-mobile.jpg');
        background-position-x: -70px;
        background-position-y: 0;
	}

	.imagem-home-6{
		background-image: url('../images/banner-home-mobile-resultaods.jpg');
        background-position-x: -70px;
        background-position-y: 0;
	}
	.imagem-estrutura-1{
		background: url('../images/banner-estrutura-1-mobile.jpg') center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.imagem-estrutura-2{
		background: url('../images/banner-estrutura-2-mobile.jpg') center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.imagem-estrutura-3{
		background: url('../images/banner-estrutura-3-mobile.jpg') center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.especialidades .selo-ona img{
		width: 80%;
	}
}

@media screen and (max-width: 415px){
	.hospital.servicos.corpoClinico{
		transform: translateY(25px) !important;
	}
	header{
		height: auto;

		.wrap{
			width: 90%;
			margin: 0 auto;
			position: relative;

			.logo{
				width: 210px;
			}
			.linkMenu{
				width: 35px;
				height: 35px;
				display: block;
				background: url('../images/menu.svg') center no-repeat;
				background-size: 100%;
				transition-duration: 0s;
			}
			.fecharMenu{
				background: url('../images/fechar-menu.svg') center no-repeat;
				background-size: 75%;
			}
			nav{
				width: 180px;
				height: 0;
				position: absolute;
				top: 85%;
				right: 0;
				overflow: hidden;
				background: white;
				transition-duration: 0.5s;
				box-shadow: 0 0 30px rgba(0,0,0,0.3);
				opacity: 0;

				ul{
					width: 100%;
					height: 100%;
					list-style: none;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-end;
					align-content: center;
					padding: 5px 0 15px;

					li{
						width: 0;
						height: 40px;
						margin: 5px 12.5% 0;
						padding: 0 5px 0 0;
						overflow: hidden;
						opacity: 0;
						border-bottom: 1px solid $red;
						transition-duration: 0.5s;

						a{
							width: 130px;
							text-align: right;
							float: right;
							display: block;
						}
						a.contato{
							background: white;
							color: $red;
						}
						a:hover{
							color: $red;
						}
						a.contato:hover{
							color: $red;
							background: white;
						}
					}
					li:last-child{
						border-bottom: none;
						margin: 5px 15% 0;
					}
				}
			}
			.openMenu{
				height: 260px !important;
				opacity: 1;
			}
			.showLinksMenu{
				width: 130px !important;
				opacity: 1;
			}
		}
	}
	.banner{
		width: 100%;
		height: 65vh;
		margin-top: 80px;
		z-index: 30;
		position: relative;
		overflow: hidden;

		.sliderBanner{
			width: 100vw;
			height: 65vh;
			position: relative;
			overflow: inherit;

			.slide{
				width: 100vw !important;
				height: 75vh;
				float: left;
				padding: 0;
				margin: 0;
				outline: none;
				overflow: hidden;
				position: relative;

				.mask{
					width: 100vw;
					height: 65vh;
					position: absolute;
					z-index: 20;
					top: 0;
					background: rgba(0,0,0,0.2);
				}
				.imagemBanner{
					height: 65vh;
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					z-index: 10;
				}
			}
			.slick-next.slick-arrow, .slick-prev.slick-arrow{
				width: 27px;
				height: 55px;
				border: 0;
				outline: none;
				position: absolute;
				z-index: 80;
				color: transparent;
				right: 5%;
				top: 50%;
				transform: translateY(-50%);
				background: url('../images/arrow-especialidade.svg') center no-repeat;
				background-size: 100%;
			}
			.slick-prev.slick-arrow{
				right: auto;
				left: 5%;
				transform: translateY(-50%) rotate(180deg);
			}
		}
		.wrap{
			//width: 90%;

			.chamadaBanner{
				// width: 100%;
				// height: 140px;
				// position: absolute;
				// top: 70%;
				// right: auto;
				// left: 50%;
				// transform: translateX(-50%);
				// z-index: 30;

				a{
					width: 100%;

					.titulo{
						width: 90%;
						font: $regular 18px/21px $hind;
						margin-top: 25px;
					}
					.link{
						width: 30%;
						font: $semiBold 16px $hind;
					}
					.c2a{
						width: 70%;
					}
				}
			}
		}
	}
	.hospital{
		width: 100%;
		height: auto;
		z-index: 20;
		margin-top: -18%;
		position: relative;

		#mapa{
			width: 100%;
			height: 450px;
			margin-top: 450px;
			position: relative;
			float: left;
			top: auto;
			> div{ 
				left:-130px !important;
			}
		}
		.wrap{
			width: 100%;

			.sobreHospital{
				width: 100%;
				height: auto;
				top: 0;
				z-index: 10;

				h1{
					//font: $medium 15px $hind !important;
				}
				p{
					font: $regular 16px $hind !important;
					line-height: 35px !important;
				}
			}
			.localizacao{
				// width: 300px;
				// height: 120px;
				// position: absolute;
				// left: 50%;
				// right: auto;
				// top: 148%;
				// transform: translateX(-50%);
				// z-index: 20;
				top:155%;
				.titulo{
					// width: 80%;
					// font: $medium 18px $hind;
					// color: #FFF;
					// text-transform: uppercase;
				}
				.endereco{
					// width: 80%;
					// font: $regular 14px $hind;
					// color: #FFF;
					// margin-top: 10px;
					// line-height: 15px;
				}
				.tracarRota{
					// align-self: flex-end;
					// font: $regular 14px $hind;
					// color: #FFF;
					// margin-top: 10px;
					// line-height: 15px;
					// margin-right: 10%;
					// text-transform: uppercase;
					// border-bottom: 1px solid #FFF;
					// padding-bottom: 5px;
					// transition-duration: 0.3s;
				}
//				.tracarRota:hover{
//					border-bottom: 1px solid #FFF;
//				}
			}
		}
	}
	.convenios{
		width: 100%;
		height: auto;
		float: left;
		background: white;

		.wrap{
			width: 90%;
			margin: 0 auto;

			h2{
				width: 100%;
				float: left;
				font: $regular 18px $hind;
			}
			.descricao{
				width: 100%;
				float: right;
				font: $regular 16px/20px $hind;
			}
			.convenios{
				margin-top: 20px;
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;
				align-items: center;

				.linkConvenios{
					height: 30px;
					font: $regular 11px/33px $hind;
					padding: 0 15px;
				}
				.linkConvenios:hover{
					background: white;
					color: $green;
				}
			}
		}
		.modalConvenios{
			width: 100%;
			height: 100%;
			position: fixed;
			display: none;
			z-index: 100;
			top: 0;
			opacity: 0;
			background: white;
			cursor: auto;

			.modal{
				width: 95vw;
				height: 0;
				position: absolute;
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: flex-start;
				top: 2.5vh;
				left: 2.5vw;
				cursor: auto;
				transition-duration: 0.5s;
				z-index: 100;
				cursor: auto;


				.titulo{
					width: 80%;
					font: $bold 2em/1.3em $hind;
					color: white;
					margin-left: 10%;
					text-transform: uppercase;
				}
				.texto{
					width: 80%;
					font: $regular 20px/25px $hind;
					color: white;
					margin-top: 15px;
					margin-bottom: 15px;
					margin-left: 10%;
				}
				.telefone{
					font: $semiBold 1.2em $hind;
					color: white;
					margin-left: 10%;
				}
				.site{
					font: $semiBold 1.2em $hind;
					color: white;
					margin-left: 10%;
				}
			}
		}
		.cursorFechar{
			cursor: url('../images/fechar-modal-azul.svg'), auto !important;
		}
		.modal.openModal{
			height: 90vh !important;
		}
	}
	.especialidades{
		width: 100%;
		margin-top:0;
		.wrap{
			width: 90%;

			.lista{
				display: none;
			}
			.video{
				display: none;
			}
		}
		.listaSlider{
			width: 100%;
			float: left;
			display: block;
			overflow: hidden;
			background: $red;

			h3{
				width: 100%;
				font: $medium 15px $hind;
				color: white;
				text-transform: uppercase;
				text-align: center;
				float: left;
				margin-top: 30px;
			}
			.texto{
				width: 85%;
				font: $medium 15px/20px $hind;
				color: rgba(255,255,255,0.7);
				text-align: center;
				float: left;
				margin: 10px 7.5% 20px;
			}
			.slider{
				width: 100%;
				height: 170px;
				margin: 30px 0;
				float: left;
				clear: both;
				position: relative;

				div{
					width: 100%;
					height: 170px;
					float: left;
					outline: none;

					img{
						height: 100px;
						display: block;
						margin: auto;
					}
					p{
						width: 100%;
						font: $medium 15px/20px $hind;
						color: white;
						float: left;
						margin-top: 30px;
						text-align: center;
					}
				}
				.slick-next.slick-arrow, .slick-prev.slick-arrow{
					width: 27px;
					height: 55px;
					border: 0;
					outline: none;
					position: absolute;
					z-index: 30;
					color: transparent;
					right: 5px;
					top: 50%;
					transform: translateY(-50%);
					background: url('../images/arrow-especialidade.svg') center no-repeat;
					background-size: 100%;
				}
				.slick-prev.slick-arrow{
					right: auto;
					left: 5px;
					transform: translateY(-50%) rotate(180deg);
				}
			}
		}
	}
	.callMobile{
		display: block;
		width: 70px;
		height: 70px;
		position: fixed;
		bottom: 7vh;
		right: 2vw;
		background: $green url('../images/call-mobile.svg') center no-repeat;
		background-size: 100%;
		z-index: 120;
		border-radius: 50%;
		box-shadow: 0 0 30px rgba(0,0,0,0.3);
	}
	footer{
		width: 100%;

		.wrap{
			width: 90%;

			.contato{
				display: none;
			}
			nav{
				width: 100%;
				margin: 0 0 30px;

				ul{
					width: 100%;
					float: left;
					list-style: none;
					display: flex;
					flex-flow: row wrap;
					justify-content: flex-start;

					li{
						margin: 10px 23px 0 0;

						a{
							width: 100%;
							text-align: center;
							line-height: 60px;
							font-size: 13px;
							border-bottom: 1px solid $darkGrey;
						}
					}
					li:last-child{
						margin: 10px 23px 0 0;
					}
				}
			}
		}
		.assinatura{
			width: 100%;
			padding: 20px 0;
			float: left;
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			background: $green;

			p{
				width: 90%;
				font: $medium 9px $hind;
				color: white;
				text-align: center;
			}
		}
	}
	footer.top{
		padding-top: 40px;
		margin-top: -40px;
	}
	.hospital.estrutura{
		width: 100%;
		//min-height: 1200px;
		z-index: 40;

		.sliderEstrutura{
			width: 100vw;
			height: 60vh;
			overflow: hidden;
			position: relative;
			position: absolute;
			left: 0;
			//top: 895px !important;
			top: auto;
			z-index: 10;

			.slide{
				width: 100%;

				.mask{
					height: 60vh;
				}
				img{
					min-width: 100%;
					min-height: 100%;
					max-width: 150%;
					position: absolute;
					left: 0;
					top: 50%;
					transform: translate(0%,-50%);
				}
			}
		}
		//.sobreHospital.estrutura{
			// width: 90% !important;
			// height: auto !important;
			// left: 50% !important;
			// padding: 20px 0;
			// right: auto;
			// top: -7vh !important;
			// left: 50% !important;
			// transform: translateX(-50%) !important;
			// z-index: 60 !important;
			// background: $green;

		// 	h1{
		// 		width: 80%;
		// 		font: $medium 15px $hind !important;
		// 		color: white;
		// 	}
		// 	p{
		// 		width: 80%;
		// 		font: $regular 15px $hind !important;
		// 		color: white;
		// 		margin-top: 20px;
		// 		line-height: 35px;
		// 	}
		// }
		// .wrap{
		// 	width: 100% !important;
		// 	height: auto !important;
		// }
	}
	// .chamadaEstrutura{
	// 	width: 90% !important;
	// 	height: 140px !important;
	// 	position: absolute;
	// 	top: -10vh;
	// 	right: auto;
	// 	left: 50% !important;
	// 	display: block;
	// 	z-index: 60;
	// 	background: $green;
	// 	transform: translateX(-50%) !important;
	// 	box-shadow: 0 0 30px rgba(0,0,0,0.3);

	// 	.titulo{
	// 		width: 90%;
	// 		font: $semiBold 15px $hind;
	// 		margin: 40px 5% 0;
	// 		float: left;
	// 		color: white;
	// 	}
	// 	.texto{
	// 		width: 90%;
	// 		font: $semiBold 15px $hind;
	// 		margin: 10px 5% 0;
	// 		float: left;
	// 		color: white;
	// 	}
	// }
	.uti{
		width: 100%;
		min-height: 165vh;
		z-index: 60;
		margin: 14vh 0 0;

		.sobreUti{
			width: 90%;
			height: 600px;
			bottom: auto;
			top: 65vh;
			left: 50%;
			transform: translateX(-50%);

			h2{
				width: 80%;
				font: $medium 20px $hind;
				color: $green;
			}
			.texto{
				width: 80%;
				font: $regular 15px $hind;
				color: $darkGrey;
				margin: 10px 0;
			}
			.titulo{
				width: 80%;
				font: $medium 15px $hind;
				color: $darkGrey;
				margin: 20px 0 10px;
			}
			.info{
				width: 80%;
				font: $regular 15px $hind;
				color: $darkGrey;
			}
		}
		figure{
			width: 100%;
			height: 500px;
			overflow: hidden;
			position: absolute;
			right: 0;
			top: 0;
			box-shadow: 0 0 30px rgba(0,0,0,0.3);

			img{
				min-width: 100%;
				min-height: 100%;
				max-width: 300%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
	.hospital.servicos{
		height: auto;
		padding: 0;

		.wrap{
			width: 100%;
		}
		.container{
			width: 100%;
			float: right;
			margin-top: 0%;
			padding: 40px 0 0;
			position: relative;
			background: $grey;

			.sobreHospital.servicos{
				width: 90%;
				height: auto;
				margin: -20% 0 0 5%;
			}
		}

		.exames{
			&.corpoClinico{
				transform: translateY(-15rem);
				background: #fff;
			}
		}
	}
	.cadastroMedico{
		color: white;

		h2{
			width: 100%;
			font: $semiBold 20px $hind;
			color: $green;
			text-align: center;
			float: left;
			margin: 40px 0;
		}
		.wrap{
			width: 90%;
		}
		form{
			width: 100%;
			float: left;
			padding: 20px 0 60px;
			border: 0;

			fieldset{
				width: 100%;
				border: 0;
				margin: 10px 0;

				input[type="text"], input[type="email"], input[type="tel"], textarea{
					width: 97%;
					margin-bottom: 20px;
				}
				input:nth-child(2n), div:nth-child(2n){
					float: right;
				}
				button{
					width: 100%;
				}
				div{
					width: 100%;
					float: left;

					input[type="radio"], input[type="checkbox"]{
						float: left;
						margin: 5px 10px 30px;
					}
					small{
						margin-top: 5px;
						margin-bottom: 30px;
					}
					small.obs{
						font-size: 12px;
						margin-top: 5px;
					}
				}
				div.full{
					width: 100%;

					label{
						margin-bottom: 30px;
					}
					small{
						font-size: 12px;
					}
					small:nth-child(5){
						margin-right: 30%;
					}
					.obs{
						margin: 10px 0;
						font-size: 13px;
					}
				}
			}
		}
	}
	.infoCadastro{
		width: 100%;
		margin-top: 80px;

		.wrap{
			width: 90%;

			h1, p{
				font-size: 18px;
			}
		}
	}
	.sobreHospital.areaMedica, .sobreHospital.contato{
		width: 100%;

		p{
			width: 80%;

			a{
				font-size: 17px;
			}
		}
		.telBreak{
			display: block;
		}
	}

}

@media screen and (max-width: 321px){
	// .hospital .wrap .localizacao{
	// 	top: 85%;
	// }

	.banner{
		width: 100%;

		.sliderBanner{
			width: 100vw;
		}
		.wrap{
			width: 90%;

			.chamadaBanner{
				width: 100%;

				a{
					width: 100%;

					.titulo{
						width: 90%;
						font: $regular 18px/21px $hind;
						margin-top: 25px;
					}
					.link{
						width: 35%;
						font: $semiBold 16px $hind;
					}
					.c2a{
						width: 85%;
					}
				}
			}
		}
	}
	.callMobile{
		width: 60px;
		height: 60px;
	}
	.convenios{
		width: 100%;
		height: auto;
		float: left;
		background: white;

		.modalConvenios{
			width: 100%;

			.modal{
				width: 95vw;

				.titulo{
					font: $bold 1.7em/1.3em $hind;
				}
				.texto{
					width: 80%;
					font: $regular 15px/20px $hind;
				}
				.telefone{
					font: $semiBold 1.2em $hind;
				}
				.site{
					font: $semiBold 1.2em $hind;
				}
			}
		}
		.cursorFechar{
			cursor: url('../images/fechar-modal-azul.svg'), auto !important;
		}
		.modal.openModal{
			height: 90vh !important;
		}
	}
	.hospital.estrutura{
		width: 100%;
		min-height: 1200px;
		z-index: 40;

		.sliderEstrutura{
			width: 100vw;
			height: auto;
			overflow: hidden;
			position: relative;
			//position: absolute;
			//left: 0;
			//top: 1005px !important;
			top: auto;
			z-index: 10;

			.slide{
				width: 100%;

				.mask{
					height: 60vh;
				}
				.imagemBanner{
					min-width: 100%;
					min-height: 100%;
					max-width: 300%;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%,-50%);
				}
			}
		}
		// .sobreHospital.estrutura{
		// 	width: 90% !important;
		// 	height: auto !important;
		// 	left: auto;
		// 	right: auto;
		// 	top: -7vh !important;
		// 	left: 50% !important;
		// 	transform: translateX(-50%) !important;
		// 	z-index: 60 !important;
		// 	background: $green;

		// 	h1{
		// 		width: 80%;
		// 		font: $medium 15px $hind !important;
		// 		color: white;
		// 	}
		// 	p{
		// 		width: 80%;
		// 		font: $regular 15px $hind !important;
		// 		color: white;
		// 		margin-top: 20px;
		// 		line-height: 35px;
		// 	}
		// }
		// .wrap{
		// 	width: 100% !important;
		// 	height: auto !important;
		// }
	}
	// .chamadaEstrutura{
	// 	width: 90% !important;
	// 	height: 110px !important;
	// 	position: absolute;
	// 	top: -10vh;
	// 	right: auto;
	// 	left: 50% !important;
	// 	display: block;
	// 	z-index: 60;
	// 	background: $green;
	// 	transform: translateX(-50%) !important;
	// 	box-shadow: 0 0 30px rgba(0,0,0,0.3);

	// 	.titulo{
	// 		width: 90%;
	// 		font: $semiBold 15px $hind;
	// 		margin: 20px 5% 0;
	// 		float: left;
	// 		color: white;
	// 	}
	// 	.texto{
	// 		width: 85%;
	// 		font: $semiBold 15px $hind;
	// 		margin: 5px 5% 0;
	// 		float: left;
	// 		color: white;
	// 	}
	// }
	.uti{
		width: 100%;
		min-height: 195vh;
		z-index: 60;
		margin: 25vh 0 0;

		.sobreUti{
			width: 90%;
			height: auto;
			bottom: auto;
			top: 80vh;
			left: 50%;
			transform: translateX(-50%);

			h2{
				width: 80%;
				font: $medium 20px $hind;
				color: $green;
			}
			.texto{
				width: 80%;
				font: $regular 15px $hind;
				color: $darkGrey;
				margin: 10px 0;
			}
			.titulo{
				width: 80%;
				font: $medium 15px $hind;
				color: $darkGrey;
				margin: 20px 0 10px;
			}
			.info{
				width: 80%;
				font: $regular 15px $hind;
				color: $darkGrey;
			}
		}
		figure{
			width: 100%;
			height: 500px;
			overflow: hidden;
			position: absolute;
			right: 0;
			top: 0;
			box-shadow: 0 0 30px rgba(0,0,0,0.3);

			img{
				min-width: 100%;
				min-height: 100%;
				max-width: 300%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
	.hospital.servicos{
		height: auto;

		.wrap{
			width: 100%;
		}
		.container{
			width: 100%;

			.imagemServico{
				height: 470px;
			}
		}
	}
	.hospital.corpoClinico, .hospital.areaMedica{
		height: auto;
		padding: 30px 0;
		z-index: 70;

		.container{
			width: 100%;
			margin: -20% 0 0 0;
			float: left;
			position: relative;

			.sobreHospital.corpoClinico form{
				width: 80%;

				select{
					background-size: 11%;
				}
			}
		}
	}
	.cadastroMedico{
		color: white;

		form{
			width: 100%;

			fieldset{
				width: 100%;

				div.full{
					width: 100%;

					small:nth-child(5){
						margin-right: 20%;
					}
				}
			}
		}
	}

}

@media screen and (max-width: 992px) {

	.mobile_order2{
		order:2
	}

	.mobile_order1{
		order:1
	}

	.banner-servicos{
		flex-wrap: wrap;
		padding-top: 112px;
		max-height: initial;
		height: 100%;
		.container{
			flex: 1 1 100%;
		}

		.sobreHospital.contato{
			.wrap{
				flex-wrap: wrap;
			}

			.contato-col{
				flex-basis:100%;
			}
		}
	}

	.hospital.servicos .wrap{
		flex-wrap: wrap;
		margin-top:0;
		padding: 0;

		.exames,
		.imagemServico{
			flex-basis: 100%;
		}

		.imagemServico {
			order:1;
			margin: 0;
			width: 100vw;
			
			img{
				width: 100%;
			}
		}

		.exames{
			order:2;
			margin: 0;
		}
	}

	.hospital.contato {
		.exames.contato.panel{
			padding: 30px;
			position: static;
			box-shadow: none;
			transform: translateY(0);
		}
	}

	footer.top{
		margin-top: 0;
	}

	.exames.corpoClinico{
		transform:translateY(0) !important;
	}

	.hospital.servicos.corpoClinico {
		transform: translateY(-45px);

		.wrap{
			padding: 0;
		}
	}

	.contato.container .col-6,
	.contato .contato-col{
		width: 100%;
		box-sizing: border-box;
		padding-left:20px;
		padding-right:20px;
		margin-bottom: 40px;
	}

	.convenio-grid ul {
		margin: 0 80px;
	}

	.col-right{
		padding-right:0 ;
	}
	.col-left{
		padding-left:0;
	}
}

@media screen and (max-width: 390px) {
	.hospital .wrap .localizacao{
		top: 160%
	}

//	.hospital #mapa{
//		margin-top: 485px;
//	}
}

@media screen and (max-width: 565px) {
	.convenio-grid ul {
		margin: 0 auto;
	}

	.convenio-grid {
		width: 70%;
	}
	.col-right{
		padding-right:10% ;
	}
	.col-left{
		padding-left:10%;
	}
}




@media screen and (max-width: 425px) {
	.convenio-grid {
		display: block;
		justify-content: center;
		color: #ffffff;
	}

	.convenio-grid ul {
		margin: 0px;
	}
	.col-right{
		padding-right:0 ;
	}
	.col-left{
		padding-left:0;
	}
}


@media screen and (max-width: 614px) {

	.chamadaEstrutura.shapeBanner {
		height: auto;
	}
}





