//@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
// Colors
$red: #ed1847;
$green: #ed1847;
$grey: #e6e6e6;
$darkGrey: #8c8c8c;
$spaceGrey: #707070;
$black: #000;
// Font
$hind: "Calibri", "Open Sans", sans-serif;
$bold: 700;
$semiBold: 400;
$medium: 400;
$regular: 400;
// Placeholder Color
::-webkit-input-placeholder {
  color: $darkGrey;
}

::-moz-placeholder {
  color: $darkGrey;
}

:-ms-input-placeholder {
  color: $darkGrey;
}

:-moz-placeholder {
  color: $darkGrey;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

.noScroll {
  overflow: hidden !important;
}

.errorcm {
  border: 1px solid #ec5d57 !important;
}

.loading {
  background: #404040 !important;
  color: #ffffff !important;
}

.active {
  color: $green !important;
}

.p1 {
  animation-name: fade;
  -webkit-animation-name: fade;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-delay: 0s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.p2 {
  animation-name: fade;
  -webkit-animation-name: fade;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-delay: 0.1s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.p3 {
  animation-name: fade;
  -webkit-animation-name: fade;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.p1,
.p2,
.p3 {
  margin: 0 3px;
}

.alert {
  width: 100%;
  li {
    width: 100%;
    text-align: right;
    font: 500 15px "Hind", sans-serif;
    color: $red;
    float: left;
    margin: 10px 0 0 !important;
    border-bottom: 0 !important;
  }
}

#nome-error {
  text-align: left;
  font: 500 13px "Hind", sans-serif;
  color: red;
  float: left;
  margin: 15px 0 0 15px;
}

header {
  width: 100%;
  min-height: 110px;
  position: fixed;
  z-index: 90;
  border-bottom: 1px solid #ddd;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  .acessibilidade {
    width: 100%;
    height: 35px;
    background: #eee;
    //		transition-duration: 0.5s;
    overflow: hidden;
    .wrap {
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: center;
      position: relative;
    }
    a {
      font: $semiBold 11px/40px $hind;
      color: $darkGrey;
      margin: 0 20px;
      transition-duration: 0.5s;
    }
    a:focus,
    a:hover {
      outline: none;
      color: $green;
    }
    .linkAcessibilidade {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .hideAcessibilidade {
    height: 0 !important;
  }
  .wrap {
    width: 980px;
    height: 110px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    .logo {
      width: 200px;
      display: block;
    }
    nav {
      width: 60%;
      height: 40px;
      ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        li {
          width: auto;
          height: 100%;
          margin: 0 10px;
          a {
            width: 100%;
            height: 100%;
            float: left;
            font: $semiBold 15px/40px $hind;
            color: $red;
            text-align: center;
            text-transform: uppercase;
            transition-duration: 0.5s;
          }
          //					a.contato{
          //						background: $red;
          //						color: white;
          //					}
          a:hover {
            color: $green;
          }
          //					a.contato:hover{
          //						color: white;
          //						background: $green;
          //					}
        }
        //				li:last-child{
        //					margin-right: 0;
        //                    width: 20%;
        //				}
      }
    }
  }
}

.banner,
.banner.servicos {
  width: 100%;
  min-height: 35vw;
  float: left;
  margin-top: 110px;
  position: relative;
  .sliderBanner {
    width: 100%;
    height: 35vw;
    overflow: hidden;
    position: relative;
    float: left;
    opacity: 0;
    transition-duration: 0.8s;
    .slide {
      width: 100%;
      height: 170px;
      float: left;
      padding: 0;
      margin: 0;
      outline: none;
      position: relative;
      .mask {
        width: 100%;
        height: 50vw;
        position: absolute;
        z-index: 20;
        top: 0;
        background: rgba(0, 0, 0, 0.2);
      }
      .imagemBanner {
        width: 100%;
        height: 50vw;
        position: absolute;
        top: 0;
        z-index: 10;
      }
    }
    .slick-next.slick-arrow,
    .slick-prev.slick-arrow {
      width: 27px;
      height: 55px;
      border: 0;
      outline: none;
      position: absolute;
      z-index: 80;
      color: transparent;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      background: url("../images/arrow-especialidade.svg") center no-repeat;
      background-size: 100%;
    }
    .slick-prev.slick-arrow {
      right: auto;
      left: 5%;
      transform: translateY(-50%) rotate(180deg);
    }
  }
  .opacity {
    opacity: 1;
  }
  .wrap {
    width: 100%;
    min-height: 750px;
    position: absolute;
    //left: 50%;
    //transform: translateX(-50%);
    z-index: 30;
    right: 0;
  }
}

.imagem-home-1 {
  background: url("../images/banner-home-1-desk.jpg") center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -380px;
  background-position-x: 0;
}

.imagem-home-2 {
  background: url("../images/banner-home-2-desk.jpg") center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -380px;
  background-position-x: 0;
}

.imagem-home-3 {
  background: url("../images/ban-home-infografico-maos-3-desk.png") center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -380px;
  background-position-x: 0;
}
.imagem-home-4 {
  background: url("../images/banner-home-covid-19.jpg") center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -380px;
  background-position-x: 0;
}
.imagem-home-6 {
  background: url("../images/banner-home-resultados.jpg") center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -380px;
  background-position-x: 0;
}

// .imagem-estrutura-1{
// 	background: url('../images/banner-estrutura-1-desk.jpg') center;
// 	background-size: cover;
// 	background-repeat: no-repeat;
// }
// .imagem-estrutura-2{
// 	background: url('../images/banner-estrutura-2-desk.jpg') center;
// 	background-size: cover;
// 	background-repeat: no-repeat;
// }
// .imagem-estrutura-3{
// 	background: url('../images/banner-estrutura-3-desk.jpg') center;
// 	background-size: cover;
// 	background-repeat: no-repeat;
// }
.banner.servicos {
  width: 100%;
  min-height: auto;
  height: 60vh;
  overflow: hidden;
  position: relative;
  img {
    width: 100vw;
    float: left;
  }
}

.chamadaBanner,
.chamadaBanner.estrutura {
  width: 680px;
  height: 180px;
  position: absolute;
  bottom: 30%;
  right: 0;
  //	background: white;
  //	box-shadow: 0 0 30px rgba(0,0,0,0.3);
  transition-duration: 0.5s;
  z-index: 30;
  background: url(../images/path.svg) no-repeat 5px 5px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //.chamadaBanner.estrutura{
  //    clip-path: polygon(8% 0%, 100% 1%, 100% 100%, 0% 100%);
  //            -webkit-clip-path: polygon(8% 0, 100% 1%, 100% 100%, 0% 100%);
  //
  //            background: -moz-linear-gradient(left, rgba(238,115,48,1) 0%, rgba(238,115,48,0.8) 0%, rgba(230,0,100,0.8) 100%);
  //            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(238,115,48,1)), color-stop(0%, rgba(238,115,48,0.8)), color-stop(100%, rgba(230,0,100,0.8)));
  //            background: -webkit-linear-gradient(left, rgba(238,115,48,1) 0%, rgba(238,115,48,0.8) 0%, rgba(230,0,100,0.8) 100%);
  //            background: -o-linear-gradient(left, rgba(238,115,48,1) 0%, rgba(238,115,48,0.8) 0%, rgba(230,0,100,0.8) 100%);
  //            background: -ms-linear-gradient(left, rgba(238,115,48,1) 0%, rgba(238,115,48,0.8) 0%, rgba(230,0,100,0.8) 100%);
  //            background: linear-gradient(to right, rgba(238,115,48,1) 0%, rgba(238,115,48,0.8) 0%, rgba(230,0,100,0.8) 100%);
  //            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee7330', endColorstr='#e60064', GradientType=1 );
  a {
    //		width: 100%;
    //		height: 100%;
    //        &:focus{
    //            outline: none;
    //        }
    //        background: #213f99;
    color: rgba(255, 255, 255, 1);
    font: 600 27px/1.3 "Calibri", "Open Sans", sans-serif;
    //			padding: 10px 20px;
    text-transform: uppercase;
    margin-left: 12%;
    transition-duration: 0.5s;
    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }
    .link {
      width: 33%;
      font: $semiBold 25px $hind;
      color: #fff;
      float: left;
      margin: 10px 0 0 12%;
      text-transform: uppercase;
      background: url("../images/arrow-green.svg") right 30% no-repeat;
      background-size: 15%;
      transition-duration: 0.5s;
    }
    /*.link {
			background: #213f99;
			display: block;
			color: #fff;
			font: 600 15px/40px "Hind", sans-serif;
			padding: 0px 21px;
		}*/
    .link.c2a {
      width: 75%;
      background-size: 7%;
    }
  }
  .titulo {
    font: $regular 27px/37px $hind;
    color: #fff;
    margin: 20px 12% 5px;
    transition-duration: 0.5s;
    display: inline-block;
    width: 70%;
  }
}

.chamadaBanner.estrutura {
  right: auto;
  left: 0;
  //	background: $grey;
  .titulo {
    width: 90%;
    font: $semiBold 20px $hind;
    color: $spaceGrey;
    float: left;
    margin: 30px 5% 0;
    transition-duration: 0.5s;
  }
  .texto {
    width: 90%;
    font: $regular 25px/30px $hind;
    color: $spaceGrey;
    float: left;
    margin: 10px 0 0 5%;
    text-transform: uppercase;
    line-height: 25px;
  }
}

.hospital.servicos {
  .wrap {
    max-width: 1170px;
    z-index: 40;
    position: relative;
    height: auto;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    &-md {
      max-width: 970px;
    }
  }
}

.hospital.destaque-home {
  .wrap {
    .sobreHospital {
      h1 {
        font-size: 22px;
      }
    }
  }
}

.hospital,
.hospital.estrutura {
  width: 100%;
  height: 450px;
  float: left;
  position: relative;
  z-index: 30;
  #mapa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .sliderEstrutura {
    width: 50.5vw;
    height: 60vh;
    overflow: hidden;
    position: relative;
    position: absolute;
    left: 0;
    top: 7vh;
    z-index: 50;
    .slide {
      width: 100%;
      height: 60vh;
      float: left;
      padding: 0;
      margin: 0;
      outline: none;
      position: relative;
      .mask {
        width: 100%;
        height: 50vw;
        position: absolute;
        z-index: 20;
        top: 0;
        background: rgba(0, 0, 0, 0.2);
      }
      img {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
      }
      .imagem-home-1 {
        background: url("../images/banner-estrutura-desk.jpg") center;
        background-size: 100%;
      }
      .imagem-home-2 {
        background: url("../images/banner-estrutura-desk.jpg") center;
        background-size: 100%;
      }
      .imagem-home-3 {
        background: url("../images/banner-estrutura-desk.jpg") center;
        background-size: 100%;
      }
    }
    .slick-next.slick-arrow,
    .slick-prev.slick-arrow {
      width: 27px;
      height: 55px;
      border: 0;
      outline: none;
      position: absolute;
      z-index: 50;
      color: transparent;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      background: url("../images/arrow-especialidade.svg") center no-repeat;
      background-size: 100%;
    }
    .slick-prev.slick-arrow {
      right: auto;
      left: 5%;
      transform: translateY(-50%) rotate(180deg);
    }
  }
  .wrap {
    //		width: 980px;
    max-width: 100%;
    height: 450px;
    margin: 0 auto;
    z-index: 40;
    position: relative;
    .sobreHospital,
    .sobreHospital.estrutura {
      width: 550px;
      height: 100%;
      position: absolute;
      left: 0;
      //			top: -20%;
      background: $red;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      //padding: 40px 0;
      //			box-shadow: 0 0 30px rgba(0,0,0,0.3);
      h1 {
        width: 80%;
        font: $bold 20px $hind;
        color: white;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      p {
        width: 80%;
        font: $regular 20px $hind;
        color: white;
        line-height: 35px;
      }

      ul {
        width: 80%;
      }
    }
    .sobreHospital.estrutura {
      width: 480px;
      height: 1025px;
      left: auto;
      right: 0;
      background: $green;
      p {
        margin-bottom: 5px;
      }
    }
    .localizacao {
      width: 460px;
      height: 100px;
      position: absolute;
      right: 0;
      top: 40%;
      //			background: $green;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      background: url(../images/path.svg) no-repeat 5px 5px;
      //			box-shadow: 0 0 30px rgba(0,0,0,0.3);
      //            transform: skew(-16deg);
      //            -webkit-transform: skew(-16deg);
      //            -moz-transform: skew(-16deg);
      //            -o-transform: skew(-16deg);
      //            -ms-transform: skew(-16deg);
      //            clip-path: polygon(8% 0%, 100% 1%, 100% 100%, 0% 100%);
      //            -webkit-clip-path: polygon(8% 0, 100% 1%, 100% 100%, 0% 100%);
      //
      //            background: -moz-linear-gradient(left, rgba(238,115,48,1) 0%, rgba(238,115,48,0.8) 0%, rgba(230,0,100,0.8) 100%);
      //            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(238,115,48,1)), color-stop(0%, rgba(238,115,48,0.8)), color-stop(100%, rgba(230,0,100,0.8)));
      //            background: -webkit-linear-gradient(left, rgba(238,115,48,1) 0%, rgba(238,115,48,0.8) 0%, rgba(230,0,100,0.8) 100%);
      //            background: -o-linear-gradient(left, rgba(238,115,48,1) 0%, rgba(238,115,48,0.8) 0%, rgba(230,0,100,0.8) 100%);
      //            background: -ms-linear-gradient(left, rgba(238,115,48,1) 0%, rgba(238,115,48,0.8) 0%, rgba(230,0,100,0.8) 100%);
      //            background: linear-gradient(to right, rgba(238,115,48,1) 0%, rgba(238,115,48,0.8) 0%, rgba(230,0,100,0.8) 100%);
      //            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee7330', endColorstr='#e60064', GradientType=1 );
      .titulo {
        margin-left: 10px;
        width: 80%;
        font: $medium 16px $hind;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 5px;
        //                transform: skew(16deg);
        //                -webkit-transform: skew(16deg);
        //                -moz-transform: skew(16deg);
        //                -o-transform: skew(16deg);
        //                -ms-transform: skew(16deg);
      }
      .endereco {
        margin-left: 10px;
        width: 80%;
        font: $regular 16px $hind;
        color: rgba(255, 255, 255, 1);
        //				margin-top: 5px;
        line-height: 15px;
        margin-bottom: 2px;
        //                transform: skew(16deg);
        //                -webkit-transform: skew(16deg);
        //                -moz-transform: skew(16deg);
        //                -o-transform: skew(16deg);
        //                -ms-transform: skew(16deg);
      }
      .tracarRota {
        margin-left: 50px;
        margin-bottom: 5px;
        align-self: flex-start;
        //				align-self: flex-end;
        font: $bold 16px $hind;
        color: #fff;
        margin-top: 2px;
        line-height: 15px;
        text-transform: uppercase;
        //				padding-bottom: 5px;
        //				transition-duration: 0.3s;
        //                transform: skew(16deg);
        //                -webkit-transform: skew(16deg);
        //                -moz-transform: skew(16deg);
        //                -o-transform: skew(16deg);
        //                -ms-transform: skew(16deg);
      }
      .tracarRota:hover {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}

.hospital.estrutura {
  min-height: 1080px;
  background: $grey;
}

.hospital.servicos {
  height: auto;
  padding: 30px 0;
  left: auto;
  right: 0;
  .container {
    width: 480px;
    float: right;
    margin-top: -20%;
    position: relative;
    .sobreHospital.servicos {
      width: 480px;
      height: auto;
      padding: 30px 0;
      float: left;
      position: relative;
      background: $red;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
      h1 {
        width: 80%;
        font: $medium 20px $hind;
        color: white;
      }

      .titulo {
        width: 80%;
        font: $medium 20px $hind;
        margin-top: 20px;
      }
      p {
        width: 80%;
        font: $regular 20px $hind;
        color: white;
        margin-top: 10px;
        line-height: 35px;
      }
    }
  }
  .imagemServico {
    // width: 480px;
    // height: 590px;
    // float: left;
    // position: relative;
    // overflow: hidden;
    //box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    flex: 0 1 50%;
    margin: 0 15px;
    img {
      // width: 100%;
      // position: absolute;
      // top: 50%;
      // transform: translateY(-50%);
      max-width: 100%;
      //box-shadow: 0 0 30px rgba(0,0,0,0.3);
    }
  }
  .exames {
    // width: 440px;
    // float: left;
    // padding: 40px 0;
    width: auto;
    float: none;
    padding: 40px 0;
    margin: 0 15px;
    padding-right: 100px;
    flex: 1 1 50%;
    h2 {
      width: 100%;
      font: $semiBold 35px $hind;
      color: $green;
      float: left;
      margin-bottom: 20px;
    }
    ul {
      width: 100%;
      float: left;
      list-style: none;
      li {
        width: 100%;
        margin: 20px 0;
        float: left;
        border-bottom: 1px solid $darkGrey;
        .titulo {
          width: 100%;
          font: $regular 20px $hind;
          color: $green;
        }
        .descricao {
          width: 100%;
          font: $regular 15px $hind;
          color: $darkGrey;
          margin: 10px 0 20px;
        }
      }
      li:last-child {
        border-bottom: 0;
      }
    }
  }
}

.hospital.corpoClinico {
  height: auto;
  padding: 30px 0;
  .container {
    width: 60%;
    float: left;
    margin-top: -20%;
    position: relative;
    .sobreHospital.corpoClinico {
      width: 100%;
      height: auto;
      padding: 40px 0 60px;
      float: left;
      position: relative;
      background: $red;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
      h1 {
        width: 80%;
        font: $medium 20px $hind;
        color: white;
        margin-bottom: 20px;
      }
      p {
        width: 80%;
        font: $regular 20px $hind;
        color: white;
        margin-top: 10px;
        line-height: 35px;
      }
      form {
        width: 60%;
        position: absolute;
        bottom: -7%;
        left: 50%;
        transform: translateX(-50%);
        select {
          width: 100%;
          height: 55px;
          padding: 0 0 0 10%;
          font: $semiBold 12px $hind;
          color: $spaceGrey;
          text-transform: uppercase;
          background: $grey url("../images/icon-select.svg") 94% center
            no-repeat;
          background-size: 8%;
          border: 0;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          outline: none;
          border-radius: 0;
          -webkit-appearance: none;
          option {
            line-height: 55px;
          }
        }
      }
    }
    .imagemServico {
      width: 480px;
      height: 590px;
      float: left;
      position: relative;
      overflow: hidden;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
      img {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .exames {
    width: 440px;
    float: left;
    padding: 40px 0;
    h2 {
      width: 100%;
      font: $semiBold 35px $hind;
      color: $green;
      float: left;
      margin-bottom: 20px;
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
    ul {
      width: 100%;
      float: left;
      list-style: none;
      li {
        width: 100%;
        margin: 20px 0;
        float: left;
        border-bottom: 1px solid $darkGrey;
        .titulo {
          width: 100%;
          font: $regular 20px $hind;
          color: $green;
        }
        .descricao {
          width: 100%;
          font: $regular 15px $hind;
          color: $darkGrey;
          margin: 10px 0 20px;
        }
      }
      li:last-child {
        border-bottom: 0;
      }
    }
  }
  .exames.corpoClinico {
    width: 70%;
    float: right;
    margin-right: 12%;
  }
}

.hospital.areaMedica,
.hospital.contato {
  height: auto;
  min-height: auto;
  padding: 40px 0 120px;
  .wrap {
    width: 1080px;
    height: auto;
  }
  .container {
    width: 48%;
    float: left;
    margin-top: -20%;
    position: relative;
    .sobreHospital.areaMedica,
    .sobreHospital.contato {
      width: 100%;
      height: auto;
      padding: 40px 0 60px;
      float: left;
      position: relative;
      background: $green;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
      h1,
      .titulo {
        width: 80%;
        font: $medium 20px $hind;
        color: white;
        margin-bottom: 20px;
      }
      p {
        width: 80%;
        font: $regular 25px $hind;
        color: white;
        margin-top: 5px;
        line-height: 35px;
      }
      .link {
        width: 60%;
        height: 55px;
        padding: 0;
        font: $semiBold 15px/55px $hind;
        color: $spaceGrey;
        text-transform: uppercase;
        text-align: center;
        background: $grey;
        border: 0;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
        outline: none;
        position: absolute;
        bottom: -10%;
      }
    }
  }
  .exames {
    width: 440px;
    float: left;
    padding: 40px 0;
    h2 {
      width: 100%;
      font: $semiBold 35px $hind;
      color: $green;
      float: left;
      margin-bottom: 20px;
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
    ul {
      width: 100%;
      float: left;
      list-style: none;
      li {
        width: 100%;
        margin: 20px 0;
        float: left;
        border-bottom: 1px solid $darkGrey;
        .titulo {
          width: 100%;
          font: $regular 20px $hind;
          color: $green;
        }
        .descricao {
          width: 100%;
          font: $regular 15px $hind;
          color: $darkGrey;
          margin: 5px 0 20px;
        }
      }
      li:last-child {
        border-bottom: 0;
      }
    }
  }
  .exames.areaMedica {
    width: 45%;
    float: right;
    margin-right: 0;
    p {
      width: 100%;
      font: $regular 20px $hind;
      color: $darkGrey;
      margin: 5px 20px 0 20px;
    }
  }
}

.hospital.contato,
.hospital.cadastroMedico {
  height: auto;
  margin-top: 0;
  padding: 0 !important;
  flex: 1 1 60%;
  .container {
    width: 38%;
    float: left;
    margin-top: 0%;
    display: flex;
    position: relative;
    .sobreHospital.areaMedica,
    .sobreHospital.contato {
      width: 100%;
      h1 {
        width: 80%;
        font: $medium 20px $hind;
        color: white;
        margin-bottom: 20px;
      }
      p {
        width: 80%;
        font: $regular 20px $hind;
        color: white;
        margin-top: 5px;
        line-height: 35px;
      }
      a {
        color: white;
      }
    }
  }
  .exames.contato {
    width: 45%;
    float: right;
    margin-right: 0;
    p {
      width: 100%;
      font: $regular 15px $hind;
      color: $darkGrey;
      margin: 5px 20px 0 0px;
    }
    form {
      width: 100%;
      float: left;
      padding: 20px 0;
      border: 0;
      fieldset {
        width: 100%;
        border: 0;
        margin: 20px 0;
        text-align: center;
        input[type="text"],
        input[type="email"],
        textarea {
          width: 95%;
          height: 52px;
          font: $semiBold 13px $hind;
          color: $darkGrey;
          padding: 0 0 0 5%;
          background: $grey;
          border: 0;
          border-radius: 0;
          outline: none;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          -webkit-appearance: none;
          transition-duration: 0.2s;
        }
        input[type="text"]:focus,
        input[type="email"]:focus,
        textarea:focus {
          transform: scale(1.1);
        }
        textarea {
          padding-top: 20px;
          height: 200px;
          resize: none;
        }
        button {
          width: 50%;
          height: 50px;
          font: $semiBold 13px $hind;
          color: white;
          text-transform: uppercase;
          border: 0;
          background: $green;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          -webkit-appearance: none;
        }
      }
    }
  }
}

.cadastroMedico {
  color: white;
  h2 {
    width: 100%;
    font: $semiBold 25px $hind;
    color: $green;
    text-align: center;
    float: left;
    margin-bottom: 20px;
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  form {
    width: 100%;
    float: left;
    padding: 20px 0 60px;
    border: 0;
    fieldset {
      width: 100%;
      border: 0;
      margin: 30px 0;
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea {
        width: 42%;
        height: 52px;
        font: $semiBold 13px $hind;
        color: $darkGrey;
        padding: 0 0 0 3%;
        background: $grey;
        border: 0;
        border-radius: 0;
        outline: none;
        clear: none;
        float: none;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
        -webkit-appearance: none;
        transition-duration: 0.2s;
        float: left;
      }
      input:nth-child(2n),
      div:nth-child(2n) {
        float: right;
      }
      button {
        width: 40%;
        height: 50px;
        float: left;
        font: $semiBold 15px $hind;
        color: white;
        text-transform: uppercase;
        border: 0;
        background: $green;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
        -webkit-appearance: none;
      }
      h2 {
        width: 100%;
        font: $semiBold 25px $hind;
        color: $green;
        text-align: center;
        float: left;
        margin: 40px 0;
      }
      div {
        width: 45%;
        float: left;
        input[type="text"],
        input[type="email"],
        input[type="tel"] {
          width: 97%;
        }
        input[type="radio"],
        input[type="checkbox"] {
          float: left;
          margin: 5px 10px;
        }
        label {
          width: 100%;
          font: $semiBold 15px $hind;
          color: $darkGrey;
          float: left;
          margin: 5px 0 0 10px;
          text-transform: uppercase;
        }
        small {
          font: $semiBold 15px $hind;
          color: $darkGrey;
          float: left;
          margin: 0px 10px 0px;
        }
        small.obs {
          font-size: 11px;
          margin-top: 10px;
        }
      }
      div.full {
        width: 100%;
        .obs {
          margin: 10px 0;
          font-size: 15px;
        }
      }
    }
    fieldset.margin {
      margin-bottom: 60px;
    }
  }
}

.convenios {
  width: 100%;
  height: auto;
  float: left;
  background: white;
  .wrap {
    width: 980px;
    margin: 0 auto;
    position: relative;
    h2 {
      width: 50%;
      float: right;
      font: $medium 25px $hind;
      color: $green;
      text-transform: uppercase;
      margin-top: 80px;
    }
    .descricao {
      width: 50%;
      float: right;
      clear: right;
      font: $regular 20px $hind;
      color: $darkGrey;
      margin-top: 15px;
      line-height: 25px;
    }
    .convenios {
      width: 100%;
      float: left;
      margin-top: 80px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      .linkConvenios {
        height: 30px;
        font: $regular 14px/33px $hind;
        color: $green;
        text-transform: uppercase;
        padding: 0 25px;
        border: 1px solid $green;
        border-radius: 5px;
        margin: 5px 2.5px 0;
        transition-duration: 0.3s;
        cursor: default !important;
      }
      .linkConvenios:hover {
        background: $green;
        color: white;
      }
    }
  }
  .modalConvenios {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    z-index: 100;
    top: 0;
    opacity: 0;
    background: white;
    cursor: auto;
    .modal {
      width: 90vw;
      height: 0;
      overflow-y: scroll;
      position: absolute;
      top: 7.5vh;
      left: 5vw;
      background: $green;
      cursor: auto;
      transition-duration: 0.5s;
      z-index: 100;
      cursor: url("../images/fechar-modal-branco.svg"), auto;
      .titulo {
        width: 50%;
        font: $bold 4em/1.3em $hind;
        color: white;
        margin-left: 10%;
        margin-top: 80px;
        text-transform: uppercase;
      }
      .texto {
        width: 70%;
        font: $regular 20px/25px $hind;
        color: white;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 10%;
        span {
          width: auto;
          height: 35px;
          display: inline-flex;
          img {
            width: 35px;
            float: left;
            margin: 5px 5px;
          }
        }
        b {
          font-size: 1.2em;
        }
      }
      .telefone {
        font: $semiBold 2em $hind;
        color: white;
        margin-left: 10%;
      }
      .site {
        font: $semiBold 2em $hind;
        color: white;
        margin-left: 10%;
      }
    }
  }
  .cursorFechar {
    cursor: url("../images/fechar-modal-azul.svg"), auto !important;
  }
  .showModal {
    display: block !important;
    opacity: 1 !important;
    animation-name: showModal;
    -webkit-animation-name: showModal;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
  }
  // ANIMAÇÃO DO MODAL DOS CONVENIOS
  @keyframes showModal {
    0% {
      display: block;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .hideModal {
    opacity: 0 !important;
    animation-name: hideModal;
    -webkit-animation-name: hideModal;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
  }
  // ANIMAÇÃO DO MODAL DOS CONVENIOS
  @keyframes hideModal {
    0% {
      display: block;
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .openModal {
    height: 85vh !important;
  }
}

.especialidades {
  width: 100%;
  height: 300px;
  float: left;
  margin-top: 120px;
  position: relative;
  z-index: 10;
  margin-top: 50px;
  margin-bottom: 50px;
  .listaSlider {
    display: none;
  }
  .wrap {
    width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .lista {
      width: 80%;
      float: left;
      margin-top: 15px;
      text-align: center;
      h3 {
        width: 100%;
        font: $medium 30px $hind;
        color: $green;
        text-transform: uppercase;
      }
      p {
        width: 100%;
        font: $regular 22px $hind;
        color: $darkGrey;
      }
    }
    .video {
      width: 55%;
      height: 314px;
      float: right;
      position: relative;
      background: black;
      overflow: hidden;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
      img {
        width: 100%;
      }
    }
  }

  .selo-ona {
    justify-content: center;
    display: flex;
    position: relative;
    top: 81px;
    z-index: 99999999999999;
  }
}

.callMobile {
  display: none;
}

.chamadaEstrutura {
  display: none;
}

footer {
  width: 100%;
  float: left;
  background: $grey;
  z-index: 5;
  .wrap {
    width: 1020px;
    margin: 0 auto;
    .contato {
      width: 100%;
      float: left;
      margin: 60px 0 0;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: flex-start;
      align-content: center;
      div {
        width: 30%;
        text-align: center;
        .titulo {
          width: 100%;
          font: $semiBold 20px $hind;
          color: $darkGrey;
          font-weight: 700;
        }
        .info {
          width: 100%;
          font: $regular 20px $hind;
          color: $darkGrey;
        }
        .info.marginBottom {
          margin-bottom: 15px;
        }
        small.info {
          width: 80%;
          font: $regular 14px $hind;
          color: $darkGrey;
          float: left;
          text-align: center;
          margin-top: 10px;
        }
        a {
          color: $darkGrey;
          transition-duration: 0.5s;
        }
        a:hover {
          color: $red;
        }
        .link {
          width: 80%;
          height: 50px;
          float: left;
          font: $semiBold 15px/50px $hind;
          color: white;
          text-transform: uppercase;
          text-align: center;
          background: $red;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
        }
        .link:hover {
          color: white;
          background: $green;
        }
      }
    }
    nav {
      width: 100%;
      float: left;
      margin: 60px 0;
      ul {
        width: 100%;
        float: left;
        list-style: none;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        li {
          height: 44px;
          font: $medium 20px $hind;
          text-transform: uppercase;
          margin: 0 60px 0 0;
          a {
            width: 100%;
            height: 44px;
            line-height: 44px;
            display: block;
            color: $darkGrey;
            transition-duration: 0.5s;
          }
          a:hover {
            color: $red;
          }
        }
        li:last-child {
          margin: 0 0 0 0;
        }
      }
    }
  }
  .assinatura {
    width: 100%;
    padding: 20px 0;
    float: left;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: $green;
    p {
      font: $medium 14px $hind;
      color: white;
      a {
        margin-top: 20px;
        color: white;
      }
    }
  }
}

footer.top {
  padding-top: 30px;
  margin-top: -40px;
}

.uti {
  width: 100%;
  min-height: 590px;
  float: left;
  position: relative;
  z-index: 50;
  background-color: $red;
  .sobreUti {
    width: 480px;
    height: 700px;
    padding: 20px 0;
    position: absolute;
    left: 15vw;
    top: -40%;
    background: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 50;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    h2 {
      width: 80%;
      font: $medium 20px $hind;
      color: $green;
    }
    .texto {
      width: 80%;
      font: $regular 20px $hind;
      color: $darkGrey;
      margin: 10px 0;
    }
    .titulo {
      width: 80%;
      font: $medium 15px $hind;
      color: $darkGrey;
      margin: 20px 0 10px;
    }
    .info {
      width: 80%;
      font: $regular 15px $hind;
      color: $darkGrey;
      b {
        font: $semiBold 15px $hind;
      }
    }
  }
  figure {
    width: 50vw;
    height: 500px;
    overflow: hidden;
    position: absolute;
    right: 11vw;
    top: -6%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    img {
      min-width: 100%;
      min-height: 100%;
      max-width: 300%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.infoCadastro {
  width: 100%;
  padding: 60px 0;
  float: left;
  margin-top: 110px;
  background: $red;
  .wrap {
    width: 980px;
    margin: 0 auto;
    h1 {
      width: 100%;
      font: $semiBold 25px $hind;
      color: white;
      text-transform: uppercase;
    }
    p {
      width: 100%;
      font: $regular 20px $hind;
      color: white;
    }
  }
}

.banner-servicos {
  //min-height: 35vw;
  max-height: initial;
  width: 100%;
  margin-top: 0;
  position: relative;
  display: flex;
  padding-top: 146px;
  overflow: hidden;
  &.contato {
    //margin-bottom: 80vh;
    overflow: initial;
    @media screen and (min-width: 982px) {
      max-height: 350px;
    }
    &.wrap {
      @media screen and (min-width: 982px) {
        width: 980px;
      }
      margin-left: auto;
      margin-right: auto;
    }
  }
  .container {
    flex: 1 1 40%;
    .sobreHospital.servicos {
      height: 100%;
      position: relative;
      background: $red;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding: 30px 0;
      box-sizing: border-box;
      //box-shadow: 0 0 30px rgba(0,0,0,0.3);
      h2 {
        width: 80%;
        font: $bold 20px $hind;
        color: white;
        margin-bottom: 20px;
        margin-top: 20px;
      }
      .titulo {
        width: 80%;
        font: $medium 20px $hind;
        margin-top: 20px;
      }
      p {
        width: 80%;
        font: $regular 16px $hind;
        color: white;
        line-height: 25px;
        margin-bottom: 5px;
      }
      .text {
        font: $regular 20px $hind;
      }
      .title {
        font-size: 27px;
      }
      form {
        width: 60%;
        z-index: 1;
        select {
          width: 100%;
          height: 55px;
          padding: 0 0 0 10%;
          font: $semiBold 20px $hind;
          color: #fff;
          text-transform: uppercase;
          background: #ed1847 url("../images/icon-select_white.svg") 94% center
            no-repeat;
          background-size: 8%;
          border: 0;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
          outline: none;
          border-radius: 0;
          -webkit-appearance: none;
          option {
            line-height: 55px;
          }
        }
      }

      h2,
      p {
        margin-right: auto;
        margin-left: auto;
      }
      a {
        text-decoration: underline;
      }
    }
  }
  .sobreHospital.contato {
    padding: 50px 0;
    margin: 0;
    display: flex;
    flex: 1 1 65%;
    .wrap {
      display: flex;
      align-items: baseline;
      max-width: 550px;
      width: 100%;
      margin: 0 auto;
    }
    h1,
    .titulo {
      width: 90%;
      font: $medium 28px $hind;
      color: white;
      margin-bottom: 5px;
    }
    p {
      width: 90%;
      font: $regular 20px $hind;
      color: white;
      margin-bottom: 5px;
      line-height: 30px;
    }
    .link {
      padding: 0;
      font: $semiBold 15px/1.5 $hind;
      color: white;
      text-transform: uppercase;
      text-align: center;
      border: 0;
      outline: none;
    }
    .contato-col {
      flex: 1 1 50%;
    }
  }
}

.serivcos-img-wrapper {
  float: none;
  margin-top: 0;
  flex: 1 1 60%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.bx-shadow {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.no-index {
  z-index: 0 !important;
}

.no-pad {
  padding: 0 !important;
}

.no-float {
  float: none !important;
}

.no-margin_top {
  margin-top: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.bg-alternative {
  background-color: #f4793b !important;
}

.bg-primary {
  background-color: #ed1847 !important;
}

//.pad-sm {
//    padding: 25px;
//}

.mar_b-md {
  margin-bottom: 40px;
}

.hospital.servicos {
  .exames.corpoClinico {
    padding: 20px;
    margin: 0;
    background: white;
  }
}

.hospital.contato {
  .exames.contato.panel {
    width: 100%;
    float: none;
    background: white;
    padding: 0 10%;
    margin: 0 auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 60px;
    right: 0;
    box-sizing: border-box;
  }
  .wrap-sm {
    max-width: 724px;
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
}

.banner {
  margin-top: 146px !important;
  .sliderEstrutura {
    height: 100%;
    float: none;
    .slide {
      height: 600px;
      @media screen and (max-width: 768px) {
        height: 400px;
      }
      @media screen and (min-width: 1200px) {
        height: 100vh;
      }
    }
    .imagemBanner {
      height: 100%;
      width: 100%;
      height: inherit;
      position: static;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    ~ .wrap {
      max-width: 680px;
      width: 100%;
      position: absolute;
      z-index: 30;
      left: 0;
      top: 50%;
      z-index: 31;
      transform: translateY(-50%);
      height: 160px;
      min-height: 0;
    }
  }
}

.chamadaBanner.estrutura {
  background: url(../images/path-inverse.svg) no-repeat 5px 5px;
  background-size: cover;
  position: static;
  background-position: -320px center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  padding-left: 140px;
  .titulo,
  .texto {
    margin: 0;
    display: block;
    float: none;
    color: #fff;
    font-size: 20px;
  }
  .titulo {
    font-weight: bold;
  }
}

.hospital.estrutura {
  float: none;
  height: 100%;
  min-height: 0;
  margin-bottom: 40px;
  display: flex;
  .sliderEstrutura {
    position: relative !important;
    width: auto !important;
    top: 0 !important;
    flex: 1 1 60%;
    .slide {
      height: 100%;
      img {
        position: static !important;
        transform: none !important;
        height: 100%;
        object-fit: cover;
      }
    }
    .slick-list,
    .slick-track,
    .mask {
      height: 100% !important;
    }
  }
  > .wrap {
    height: 100%;
    flex: 1 1 40%;
    .sobreHospital.estrutura {
      position: static;
      max-width: 100%;
      width: initial;
      box-sizing: border-box;
      height: auto;
      min-height: 0;
      padding: 30px 0;
      p {
        font-size: 16px;
        line-height: 35px !important;
      }

      ul {
        list-style: none;
      }
    }
  }
}

.sobreUti {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

// @media screen and (min-width: 1799px) {
//     .chamadaBanner.estrutura {
//         padding-left: 180px;
//     }
// }

.contato.container {
  max-width: 980px;
  text-align: left;
  margin: 0 auto;
  .col-6 {
    width: 50%;
    padding: 20px 0;
    margin-bottom: 40vh;
    p {
      width: 100%;
      font: $regular 20px $hind;
      color: $darkGrey;
      margin: 5px 20px 0 0px;
    }
  }
}

.obs-texto {
  color: #ffffff;
}

.convenio-grid {
  display: flex;
  justify-content: center;
  color: #ffffff;
  width: 74%;
  margin-top: 10px;
}

.col-right {
  padding-right: 6%;
}
.col-left {
  padding-left: 6%;
}

.convenio-grid ul {
  width: 80%;
  font: 400 16px "Calibri", "Open Sans", sans-serif;
}

/* PopUp */
.popup-show {
  display: block;
}
.popup-remove {
  display: none;
}
.popup .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  display: none;
}
.popup .content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: $black;
  z-index: 999999;
  text-align: center;
  padding: 50px 20px;
  box-sizing: border-box;
  background: $grey;
  font-family: "Calibri", "Open Sans", sans-serif;
}
.popup .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  background: #222;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.popup .overlay {
  display: block;
}
.popup .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.popup p {
  padding: 20px;
}
